:host{
	.medialist{
		width: inherit;
		height: inherit;
		.playlist-container{
			button{
				background: transparent;
			}
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: auto;
			.playlist{
				width: 100%;
				height: 50px;
				table-layout: fixed;
				border-collapse: collapse;
				.header{
					th{
						position: sticky;
					    top: 0;
					    z-index: 5;
					    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
					}
					.icon{
						button{
							height: 45px;
							width: 45px;
							ion-icon{
								font-size: 30px;
							}
						}
					}
				}
				tbody{
					tr{
						border-bottom: 1px solid #565656;
						td{
							height: 50px;
							font-size: 1.1em;
							.item-btn{
								width: 100%;
								height: 100%;
								padding: 0;
								text-align: left;
							}
							.item{
								height: 100%;
								display: table-cell;
								p{
									margin: 0;
								}
								&.index{
									width: 20px;
									line-height: 50px;
									min-width: 20px;
									text-align: center;
								}
								&.image{
									width: 50px;
									text-align: center;
									img{
										max-width: 45px;
										height: auto;
										margin-top: 2.5px;
									}
								}
								&.info{
									width: 80%;
									position: relative;
									padding-left: 5px;
									.song,
									.artist{
										width: 100%;
										position: absolute;
										overflow: hidden;
							  			white-space: nowrap;
							  			text-overflow: ellipsis;
									}
									.song{
										line-height: 50px;
										top: -5px;
									}
									.artist{
										top: 30px;
									}
								}
								&.time{
									width: 50px;
									text-align: right;
									line-height: 50px;
								}
							}
							.btn{
								width: 100%;
								height: 100%;
								ion-icon{
									font-size: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
	// picker menu
	.page{
		.image-container{
			max-width: 200px;
			margin: auto;
		}
		.song-info-container{
			text-align: center;
			margin: 15px;
			line-height: 20px;
		}
	}
}