<fhem-component-container 
	[specs]="{ID: ID, device: data_device, reading: data_reading, available: true, forceReload: true}" 
	[position]="{width: width, height: height, top: top, left: left, zIndex: zIndex}"
	[minimumWidth]="200"
	[minimumHeight]="80">
	<div class="medialist">
		<div class="playlist-container">
			<table class="playlist">
				<thead>
					<tr class="header">
						<th colspan="4" colorizer [theme]="settings.app.theme" [style]="['background', 'primary']" class="header-labels">
							<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{'COMPONENTS.MediaList.DICTIONARY.TOTAL_DURATION' | translate}}</p>
							<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']"  *ngIf="fhemDevice?.readings.currentdir_playlistduration" class="length">{{time.secToTime(fhemDevice.readings.currentdir_playlistduration.Value)}}</p>
						</th>
						<th colspan="2" colorizer [theme]="settings.app.theme" [style]="['background', 'primary']" class="header-labels" class="icon">
							<button matRipple [matRippleColor]="'#d4d4d480'" (click)="toggleAll()">
								<ion-icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']" name="play"></ion-icon>
							</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="playlist-item" *ngFor="let item of list; let i = index">
						<td colspan="5">
							<button class="item-btn" matRipple [matRippleColor]="'#d4d4d480'" (click)="playItem(i)">
								<div class="item index">
									<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{i+1}}</p>
								</div>
								<div class="item image">
									<img [src]="item.Cover">
								</div>
								<div class="item info">
									<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="song">{{item.Title}}</p>
									<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="artist">{{item.Artist}}</p>
								</div>
								<div class="item time">
									<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{time.secToTime(item.Time)}}</p>
								</div>
							</button>
						</td>
						<td colspan="1">
							<button class="btn" matRipple [matRippleColor]="'#d4d4d480'" (click)="showDetails(i)">
								<ion-icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']" name="ellipsis-vertical"></ion-icon>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</fhem-component-container>

<picker
	[height]="65"
	[(ngModel)]="displayDetails.show"
	[showCancelBtn]="false"
	[confirmBtn]="'GENERAL.BUTTONS.CLOSE' | translate">
	<div body class="page" *ngIf="displayDetails.show">
		<div class="image-container">
			<img [src]="list[displayDetails.index].Cover">
		</div>
		<div class="song-info-container">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="song" *ngIf="list[displayDetails.index].Title">{{list[displayDetails.index].Title}}</p>
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="album" *ngIf="list[displayDetails.index].Album">{{list[displayDetails.index].Album}}</p>
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="artist" *ngIf="list[displayDetails.index].Artist">{{list[displayDetails.index].Artist}}</p>
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="time" *ngIf="list[displayDetails.index].Time">{{time.secToTime(list[displayDetails.index].Time)}}</p>
		</div>
	</div>
</picker>