:host{
	.icon{
		width: inherit;
		height: inherit;
		icon{
			position: absolute;
			width: 100%;
			height: 100%;
		}
		&.show-indicator{
			icon{
				width: 90%;
				height: 90%;
				left: 0;
				bottom: 0;
			}
			.indicator{
				position: absolute;
				border-radius: 50%;
				text-align: center;
				line-height: 20px;
	    		padding: 8px;
	    		right: 0;
	    		top: 0;
	    		font-size: 15px;
			}
		}
	}
}