<fhem-component-container 
	[specs]="{ID: ID, device: null, reading: null, offline: true}" 
	[position]="{width: width, height: height, top: top, left: left, zIndex: zIndex, rotation: rotation}"
	[allowRotation]="true"
	[minimumWidth]="60"
	[minimumHeight]="40">
	<div class="clock">
		<ng-container *ngIf="arr_data_style[0] === 'digital'">
			<svg class="date" viewBox="0 0 62 18">
				<text [attr.fill]="style_hourColor" [attr.x]="displayValue('ss') ? 0 : 10" y="15" *ngIfOnce="displayValue('HH')" class="hour">{{digitalClock.HH}}</text>
				<text [attr.fill]="style_color" [attr.x]="displayValue('ss') ? 17 : 27" y="15" *ngIfOnce="displayValue('mm')">:</text>
				<text [attr.fill]="style_minuteColor" [attr.x]="displayValue('ss') ? 22 : 32" y="15" y="15" *ngIfOnce="displayValue('mm')" class="min">{{digitalClock.mm}}</text>
				<text [attr.fill]="style_color" x="40" y="15" *ngIfOnce="displayValue('ss')">:</text>
				<text [attr.fill]="style_secondColor" x="45" y="15" *ngIfOnce="displayValue('ss')" class="sec">{{digitalClock.ss}}</text>
			</svg>
		</ng-container>
		<ng-container *ngIf="arr_data_style[0] === 'analog'">
			<svg class="date" viewBox="0 0 100 100">
				<circle [attr.stroke]="style_color" class="outer" cx="50" cy="50" r="48" stroke-width="1"></circle>
				<g *ngIfOnce="bool_data_showTicks">
					<g class="tick" *ngFor=" let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
						[attr.fill]="style_color"
						[ngStyle]="{'transform': 'rotate('+ i * 30 +'deg)'}">
						<rect class="tick-rect" height="3" width="1" x="49.5" y="2"></rect>
						<text [attr.x]="i > 9 ? 46.5 : 48.5" y="12" class="hour-text">{{i}}</text>
					</g>
				</g>
				<g>
					<rect [attr.fill]="style_hourColor" *ngIfOnce="displayValue('HH')" class="pointer h" height="30" width="1" x="49.5" y="20" [ngStyle]="{'transform': 'rotate('+ analogClock.HH +'deg)'}"></rect>
					<rect [attr.fill]="style_minuteColor" *ngIfOnce="displayValue('mm')" class="pointer m" height="40" width="1" x="49.5" y="10" [ngStyle]="{'transform': 'rotate('+ analogClock.mm +'deg)'}"></rect>
					<rect [attr.fill]="style_secondColor" *ngIfOnce="displayValue('ss')" class="pointer s" height="45" width="1" x="49.5" y="5" [ngStyle]="{'transform': 'rotate('+ analogClock.ss +'deg)'}"></rect>
				</g>
				<circle [attr.fill]="style_color" class="middle" cx="50" cy="50" r="3"></circle>
			</svg>
		</ng-container>
	</div>
</fhem-component-container>