<popup
	[(ngModel)]="popupState"
	[width]="80"
	[height]="80"
	(onClose)="close()">
	<div header>
		<h1 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ (type === 'edit') ? ('GENERAL.CHANGE_ROOM.TITLE' | translate) : ('GENERAL.CREATE_ROOM.TITLE' | translate) }}</h1>
	</div>
	<div body class="page">
		<div class="settings-block">
			<div class="category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.CREATE_ROOM.ROOM_NAME' | translate }}</p>
				<input [(ngModel)]="roomName">
				<span class="bar"></span>
			</div>
			<div class="category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.CREATE_ROOM.ROOM_ICON' | translate }}</p>
				<selector
					class="select"
					[items]="settings.icons"
					[(ngModel)]="roomIcon"
					[bindLabel]="'icon'"
					[bindValue]="'icon'"
					[searchable]="false">
					<ng-template let-item="item" let-index="index">
						<icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']" [icon]="item.icon"></icon>
						<span class="label">{{ item.icon }}</span>
					</ng-template>
				</selector>
			</div>
			<div class="category">
				<switch
					[padding]="false"
					[(ngModel)]="useRoomAsGroup"
					[label]="'GENERAL.CREATE_ROOM.USE_AS_GROUP.TITLE' | translate"
					[subTitle]="'GENERAL.CREATE_ROOM.USE_AS_GROUP.INFO' | translate"
					(onToggle)="grouper('useAsGroup', $event)">
				</switch>
			</div>
			<div class="category">
				<switch 
					*ngIf="groupRooms.length > 0"
					[padding]="false"
					[(ngModel)]="roomToGroup"
					[label]="'GENERAL.CREATE_ROOM.GROUP_TO.TITLE' | translate"
					[subTitle]="'GENERAL.CREATE_ROOM.GROUP_TO.INFO' | translate"
					(onToggle)="grouper('roomToGroup', $event)">
				</switch>
			</div>
			<div class="category" *ngIf="roomToGroup && groupRooms.length > 0">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.CREATE_ROOM.GROUP_TO.TITLE_SELECT' | translate }}</p>
				<selector
					class="select"
					[items]="groupRooms"
					[(ngModel)]="selectedGroup"
					[bindLabel]="'name'"
					[bindValue]="'name'"
					[searchable]="false">
					<ng-template let-item="item" let-index="index">
						<span class="label">{{ item.name }}</span>
					</ng-template>
				</selector>
			</div>
		</div>
		<div class="settings-block no-border">
			<div class="category btn-full-category">
				<button class="save" matRipple [matRippleColor]="'#d4d4d480'" (click)="save()">{{ 'GENERAL.BUTTONS.SAVE' | translate }}</button>
				<button class="cancel" matRipple [matRippleColor]="'#d4d4d480'" (click)="close()">{{ 'GENERAL.BUTTONS.CANCEL' | translate }}</button>
			</div>
		</div>
	</div>
</popup>