:host{
	.iframe{
		width: 100%;
		height: 100%;
		overflow: auto;
		pointer-events: all;
		left: 0;
		top: 0;
		iframe{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}