:host{
	.create-container{
		// create room popup
		&.room{
			position: fixed;
			top: 5px;
			right: 16px;
			z-index: 1000;
		}
		button:focus{
			outline: 0px;
		}
		.add-btn{
			position: relative;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			background: #ffffff;
			border: none;
			box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);

			&:hover .line.top{
				transform: translate3d(-50%, -50%,0) rotate(90deg);
			}
			&:hover .line.bottom{
				transform: translate3d(-50%, -50%,0) rotate(180deg);
			}
		}
		.line{
			position: absolute;
			left: 50%;
			top: 50%;
			width: 60%;
			height: 5px;
			background: var(--gradient);
			border-radius: 5px;
			transition: all .3s ease;
			&.top{
				transform: translate3d(-50%, -50%,0);
			}
			&.bottom{
				transform: translate3d(-50%, -50%,0) rotate(90deg);
			}
		}
	}
	input{
		position: relative;
		font-size:18px;
		padding:10px 10px 10px 5px;
		display:block;
		width:100%;
		border:none;
		border-bottom:1px solid #757575;
		color: #757575;
	}
	input:focus{ outline:none; }
	.bar{ 
		position:relative; 
		display:block; 
		width:100%; 
		left: 0%;
	}
	.bar:before, .bar:after{
	  	content:'';
		height:2px;
		width:0;
		bottom:1px; 
		position:absolute;
		background: var(--btn-blue); 
		transition:0.2s ease all;
	}
	.bar:before {
		left:50%;
	}
	.bar:after {
		right:50%; 
	}
	input:focus ~ .bar:before, input:focus ~ .bar:after {
		width:50%;
	}
	.select-icon{
		background: var(--btn-blue);
	}
	ion-icon,
	fa-icon{
		width: 1.2em;
		height: 1.2em;
		margin-left: 10px;
		margin-right: 10px;
		float: left;
		color: #000;
	}
	.label{
		line-height: 25px;
	}
	.room-options{
		position: relative;
		padding: 20px;
		ng-select{
			margin-bottom: 16px;
		}
		p{
			margin-bottom: 5px;
		}
	}
	.btn{
		font-family: "Roboto", sans-serif;
		text-transform: uppercase;
		outline: 0;
		width: 100%;
		border: 0;
		padding: 15px;
		color: #FFFFFF;
		font-size: 14px;
		transition: all 0.3 ease;
		cursor: pointer;
		margin-top: 10px;
		&.submit{
			background: var(--btn-green);
		}
		&.cancel{
			background: var(--btn-red);
		}
	}
	h2, h3, p, .error-message, .success-message{
		font-family: "Roboto", sans-serif;
	}
	h3{
		text-align: center;
		font-size: 1.3em;
	}

	.dark .add-btn,
	.dark input{
		background: var(--dark-bg);
	}
	.dark h2,
	.dark h3,
	.dark .icon-name,
	.dark p,
	.dark .label,
	.dark ion-icon,
	.dark fa-icon,
	.dark span.key,
	.dark span.value{
		color: var(--dark-p);
	}
	.dark input{
		border-bottom: 1px solid var(--dark-border);
	}
	.error-message{
		color: red !important;
	}
	.success-message{
		color: green !important;
	}
	@keyframes show{
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
	}
}