:host{
	.box{
		width: inherit;
		height: inherit;
		.box-header,
		.box-content{
			position: absolute;
			width: 100%;
			left: 0;
		}
		.box-header{
			top: 0;
			height: 40px;
			text-align: left;
			p{
				font-size: 1.2em;
				margin: 0;
			    position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			    left: 10px;
			    width: calc(100% - 10px);
			    white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.box-content{
			height: 100%;
			top: 0;
			&.reduce-height{
				height: calc(100% - 40px);
				top: 40px;
			}
		}
	}
}