:host{
	.box{
		width: inherit;
		height: inherit;
		.box-header,
		.box-content{
			position: absolute;
			width: 100%;
			left: 0;
		}
		.box-header{
			top: 0;
			height: 40px;
			text-align: left;
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;
			p{
				font-size: 1.2em;
				margin: 0;
			    position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			    left: 10px;
			    width: calc(100% - 10px);
			    white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.box-content{
			height: 100%;
			top: 0;
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;
			border-bottom-left-radius: inherit;
			border-bottom-right-radius: inherit;
			&.reduce-height{
				height: calc(100% - 40px);
				top: 40px;
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
			}
		}
		// neumorph
		&.NM-IN-standard,
		&.NM-OUT-standard{
			.box-header,
			.box-content{
				background: transparent !important;
			}
			&.dark{
				background: var(--primary-dark);
				border: var(--neumorph-border-dark);
			}
			&.dark-alternative{
				background: var(--primary-dark-alternative);
				border: var(--neumorph-border-dark-alternative);
			}
			&.bright{
				background: var(--primary-bright);
				border: var(--neumorph-border-bright);
			}
		}
		// neumorph in
		&.NM-IN-standard{
			&.dark{
				box-shadow: var(--neumorph-in-dark) !important;
			}
			&.dark-alternative{
				box-shadow: var(--neumorph-in-dark-alternative) !important;
			}
			&.bright{
				box-shadow: var(--neumorph-in-bright) !important;
			}
		}
		// neumorph out
		&.NM-OUT-standard{
			&.dark{
				box-shadow: var(--neumorph-out-dark) !important;
			}
			&.dark-alternative{
				box-shadow: var(--neumorph-out-dark-alternative) !important;
			}
			&.bright{
				box-shadow: var(--neumorph-out-bright) !important;
			}
		}
	}
}