:host{
	.circle-slider{
		width: inherit;
		height: inherit;
		pointer-events: none;
		svg{
			width: 100%;
			height: 100%;
			.circle-bg{
				opacity: 0.5;
			}
			.circle{
				cursor: pointer;
				pointer-events: all;
			}
		}
		.labels{
			user-select: none;
			position: absolute;
			top: 60%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			.text{
				font-weight: 500;
				margin-bottom: 0;
				margin-top: 0px;
			}
			.subline{
				font-weight: 300;
				opacity: 0.3;
				margin-top: 10px;
			}
		}
	}
}