<fhem-component-container 
	[specs]="{ID: ID, device: data_device, reading: data_reading, available: true}"
	[fhemDevice]="fhemDevice" 
	[position]="{width: width, height: height, top: top, left: left, zIndex: zIndex}"
	[minimumWidth]="minimumWidth"
	[minimumHeight]="minimumHeight">
	<div class="thermostat">
		<!-- Basic thermostat -->
		<ng-container *ngIf="arr_data_style[0] === 'thermostat'">
			<svg class="thermostat-one" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 20 250 470">
				<defs>
					<linearGradient [attr.id]="UID_1" x1="57" y1="150" x2="57" y2="546" gradientUnits="userSpaceOnUse">
						<stop [attr.stop-color]="style_gradientColor1" offset="0"/>
						<stop [attr.stop-color]="style_gradientColor2" offset="20%"/>
						<stop [attr.stop-color]="style_gradientColor3" offset="50%"/>
						<stop [attr.stop-color]="style_gradientColor4" offset="100%"/>
					</linearGradient>
					<rect id="tube" x="110" y="150" width="86" height="400" rx="43" ry="43"/>
						<clipPath id="liquidMask">
						<use xlink:href="#tube" class="liquidMask" />
					</clipPath>
					<clipPath id="tubeMask">
						<use xlink:href="#tube" class="liquidMask" />
					</clipPath>
					<path id="liquid" [class.animate]="bool_data_enableAnimation" d="M757,552v490H357V552c50,0,50,20,100,20s50-20,100-20,50,20,100,20S707,552,757,552Z" />
					<mask [attr.id]="UID_2">
						<use [style.transform]="'translateY('+ (styles.factor - 5 - styles.move)+'%)'" xlink:href="#liquid" class="liquid" x="0" fill="#FCEFD6" />
						<use [style.transform]="'translateY('+ (styles.factor - 5 - styles.move)+'%)'" xlink:href="#liquid" class="liquid" x="0" fill="#EEE" opacity="0.7"/>
					</mask>
				</defs>
				<g class="whole" transform="translate(0, -100)">
					<use xlink:href="#tube" class="tubeBg" fill="#C8D9D3" opacity="0.61"/>
					<g class="dragger drag-item" [style.transform]="'translateY('+ (styles.factor - styles.move)+'%)'">
						<ellipse class="drag drag-item" cx="50" cy="160" rx="45" ry="40"/>
						<path class="dragTip drag drag-item" d="M315.5,556.76,299.24,540.5l16.26-16.26,36.26,16.26Z"/>
						<text class="label drag drag-item" font-weight="bold" x="37" y="170">{{value + data_labelExtension}}</text>
					</g>
					<g [attr.mask]="'url(#'+UID_2+')'">
				    	<use xlink:href="#tube" [attr.fill]="'url(#'+UID_1+')'" />
					</g>
					<line class="tubeShine" x1="130" y1="200" x2="130" y2="443" fill="none" stroke="#FFF" stroke-linecap="round" stroke-miterlimit="10" stroke-width="8" opacity="0.21" stroke-dasharray="153 30" stroke-dashoffset="-20"/>
					<g class="measurements" fill="none" stroke-width="3" stroke-linecap="round" opacity="1">
						<line x1="112" y1="196" x2="130" y2="196" />
				   		<line x1="112" y1="234" x2="130" y2="234" />
				   		<line x1="112" y1="273" x2="130" y2="273" />
				        <line x1="112" y1="311" x2="130" y2="311" />
				        <line x1="112" y1="350" x2="130" y2="350" />
				        <line x1="112" y1="388" x2="130" y2="388" />
				        <line x1="112" y1="426" x2="130" y2="426" />
				        <line x1="112" y1="465" x2="130" y2="465" />
				        <line x1="112" y1="503" x2="130" y2="503" />
					</g>
				</g>
			</svg>
		</ng-container>
		<!-- circular -->
		<ng-container *ngIf="arr_data_style[0] === 'circular'">
			<svg class="thermostat-two" viewBox="0 0 400 400">
				<defs>
				    <linearGradient id="linear" x1="0%" y1="0%" x2="100%" y2="0%">
				    	<stop offset="0%" [attr.stop-color]="style_backgroundColorOne"/>
				    	<stop offset="100%" stop-opacity="0" [attr.stop-color]="style_backgroundColorOne"/>
				    </linearGradient>
				</defs>
				<line [attr.stroke]="style_tickColor" class="tick" x1="50%" x2="50%" y1="8%" y2="92%" />
      			<line [attr.stroke]="style_tickColor" class="tick" x1="8%" x2="92%" y1="50%" y2="50%" />
      			<circle [attr.fill]="style_backgroundColorOne" class="center" id="dial-center" cx="50%" cy="50%" r="150"/>
      			<text [attr.fill]="style_labelColor" class="temp" x="50%" y="50%" text-anchor="middle">{{value + data_labelExtension}}</text>
      			<g class="control drag-item" [style.transform]="'rotate('+ styles.rotation +'deg)'">
      				<circle class="track drag-item" cx="50%" cy="50%" r="180" stroke="url(#linear)"/>
      				<circle [attr.fill]="style_thumbColor" class="handle drag-item" cx="20" cy="50%" r="10" stroke="transparent" stroke-width="20"/>
      			</g>
			</svg>
		</ng-container>
		<!-- circular -->
		<ng-container *ngIf="arr_data_style[0] === 'heater'">
			<div class="thermostat-three" [ngClass]="settings.app.theme">
				<div class="tick-container">
					<span *ngFor="let tick of styles.heaterTicks" [ngStyle]="{
						'transform': 'translate(-50%, -50%) rotate('+ tick * (360 / 24) +'deg)'
					}"></span>
				</div>
				<div class="circle-overlay">
					<div class="circle-inner">
						<div class="rotator-container">
							<div class="rotator" [style.transform]="'rotate('+ styles.rotation +'deg)'">
								<div class="knob drag-item" [style.transform]="'rotate('+ (styles.rotation * -1) +'deg)'"></div>
							</div>
							<div class="value-container">
								<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{value + data_labelExtension}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</fhem-component-container>