<div *ngIf="settings.modes.roomEdit" class="container" [class.active]="settings.modes.roomEdit" [class.show-create]="create">
	<div class="btn-container">
		<button 
			*ngIf="create"
			colorizer [theme]="settings.app.theme" [style]="['background', 'primary']" 
			matRipple [matRippleColor]="'#d4d4d480'" class="add-btn btn-round" (click)="createRoom()">
			<span class="line top"></span>
			<span class="line bottom"></span>
		</button>
		<button 
			colorizer [theme]="settings.app.theme" [style]="['background', 'primary']" 
			matRipple [matRippleColor]="'#d4d4d480'" class="btn-round" (click)="cancelChanges()">
			<ion-icon class="close-icon bigger" name="close-circle-outline"></ion-icon>
		</button>
		<button 
			colorizer [theme]="settings.app.theme" [style]="['background', 'primary']"
			matRipple [matRippleColor]="'#d4d4d480'" class="btn-round" (click)="saveChanges()">
			<ion-icon class="save-icon bigger" name="checkmark-circle-outline"></ion-icon>
		</button>
		<button 
			colorizer [theme]="settings.app.theme" [style]="['background', 'primary']" 
			matRipple [matRippleColor]="'#d4d4d480'" class="btn-round" *ngIf="settings.app.enableUndoRedo" (click)="showUndo = !showUndo">
			<ion-icon class="change" name="ellipsis-vertical"></ion-icon>
		</button>
	</div>
	<div class="undo-manager" *ngIf="showUndo" colorizer [theme]="settings.app.theme" [style]="['background', 'primary']" [forChild]="true">
		<span class="arrow"></span>
		<button 
			matRipple [matRippleColor]="'#d4d4d480'" 
			class="btn-round"
			[disabled]="!undoManager.dataRedoArray.length" (click)="undoManager.redoChange()"
			[class.disabled]="!undoManager.dataRedoArray.length">
			<ion-icon class="bigger change" name="arrow-redo"></ion-icon>
		</button>
		<button
			matRipple [matRippleColor]="'#d4d4d480'" 
			class="btn-round" 
			[disabled]="!undoManager.dataUndoArray.length" (click)="undoManager.undoChange()"
			[class.disabled]="!undoManager.dataUndoArray.length">
			<ion-icon class="bigger change" name="arrow-undo"></ion-icon>
		</button>
	</div>
</div>