:host{
	.tabs{
		width: inherit;
		height: inherit;
		position: relative;
		overflow: hidden;
		.btn-round{
			position: absolute;
			top: 0;
			right: 0;
			z-index: 101;
			cursor: pointer;
			pointer-events: all;
		}
		.tab-header{
			display: table;
			table-layout: fixed;
			width: 100%;
			height: 35px;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			li{
				display: table-cell;
				list-style: none;
				text-align: center;
				padding: 10px 20px 25px 20px;
				position: relative;
				overflow: hidden;
				cursor: pointer;
				transition: all .2s ease;
				box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
				cursor: pointer;
				pointer-events: all;
				&.active{
					box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
				}
				icon{
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
		.tab-content-container{
			position: absolute;
			width: 100%;
			height: calc(100% - 35px);
			top: 35px;
			left: 0;
			box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
			overflow: hidden;
			pointer-events: all;
			.tab-content{
				position: absolute;
				height: 100%;
				width: 100%;
				opacity: 0;
				z-index: 0;
				transition: all 0.2s ease;
				&.active{
					opacity: 1;
					z-index: 1;
				}
				.content{
					position: relative;
					height: 100%;
					width: 100%;
					overflow-y: auto;
					overflow-x: hidden;
					.container{
						width: inherit;
						height: inherit;
					}
				}
			}
		}
		// neumorph
		&.NM-standard{
			.tab-content-container{
				box-shadow: none;
			}
			&.dark,
			&.dark-alternative,
			&.bright{
				li,
				.tab-content{
					background: var(--primary) !important;
					border: var(--neumorph-border);
				}
				li{
					box-shadow: var(--neumorph-out) !important;
				}
				li.active,
				.tab-content{
					box-shadow: var(--neumorph-in) !important;
				}
			}
		}
		// custom tabs position
		&.right{
			.tab-header{
				right: 0;
				height: 100%;
				width: 35px;
				z-index: 1;
				li{
					display: table-row;
				}
			}
			.tab-content-container{
				width: calc(100% - 35px);
				height: 100%;
				top: 0;
			}
		}
		&.bottom{
			.tab-header{
				top: auto;
				bottom: 0;
				z-index: 1;
			}
			.tab-content-container{
				bottom: 35px;
				top: auto;
			}
		}
		&.left{
			.tab-header{
				left: 0;
				height: 100%;
				width: 35px;
				z-index: 1;
				li{
					display: table-row;
				}
			}
			.tab-content-container{
				width: calc(100% - 35px);
				height: 100%;
				top: 0;
				left: 35px;
			}
		}
	}
}