:host{
	.popup{
		width: inherit;
		height: inherit;
		cursor: pointer;
		pointer-events: all;
		icon{
			width: 90%;
		    height: 90%;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		}
	}
	.btn-round{
		position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    &.inner{
	    	right: 80px;
	    }
	    // neumorph
	    &.NM-IN-standard,
		&.NM-OUT-standard{
			&.dark{
				background: var(--primary-dark) !important;
				border: var(--neumorph-border-dark);
			}
			&.dark-alternative{
				background: var(--primary-dark-alternative) !important;
				border: var(--neumorph-border-dark-alternative);
			}
			&.bright{
				background: var(--primary-bright) !important;
				border: var(--neumorph-border-bright);
			}
		}
		// neumorph in
		&.NM-IN-standard{
			&.dark{
				box-shadow: var(--neumorph-in-dark) !important;
			}
			&.dark-alternative{
				box-shadow: var(--neumorph-in-dark-alternative) !important;
			}
			&.bright{
				box-shadow: var(--neumorph-in-bright) !important;
			}
		}
		// neumorph out
		&.NM-OUT-standard{
			&.dark{
				box-shadow: var(--neumorph-out-dark) !important;
			}
			&.dark-alternative{
				box-shadow: var(--neumorph-out-dark-alternative) !important;
			}
			&.bright{
				box-shadow: var(--neumorph-out-bright) !important;
			}
		}
	}
	.content{
		position: relative;
		height: 100%;
		width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		.container{
			width: inherit;
			height: inherit;
		}
	}
}