<picker
	[confirmBtn]="'GENERAL.BUTTONS.SAVE' | translate"
	[(ngModel)]="show.picker"
	[height]="85"
	[zIndex]="100002"
	(onConfirm)="saveComponent()"
	(onClose)="removeMenu()">
	<div header class="header">
		<h2 *ngIf="component" colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
				{{ 'GENERAL.COMPONENT.GENERAL.CONFIG' | translate }} {{'COMPONENTS.'+[component.name]+'.NAME' | translate}}
		</h2>
		<h2 colorizer [theme]="settings.app.theme" [style]="['color', 'text']" *ngIf="!component">{{ 'GENERAL.COMPONENT.GENERAL.SELECT' | translate }}</h2>
	</div>
	<div body class="body">
		<div colorizer [theme]="settings.app.theme" [style]="['background', 'primary']" class="preview-container">
			<switch
				*ngIf="component"
				[(ngModel)]="show.componentPreview"
				[label]="'GENERAL.COMPONENT.EDIT.PREVIEW.TITLE' | translate"
				[subTitle]="'GENERAL.COMPONENT.EDIT.PREVIEW.INFO' | translate"
				(onToggle)="toggleTestContainer($event)">
			</switch>
			<div class="change-component" *ngIf="type === 'edit' && componentList.components?.length > 0">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']"> {{ 'GENERAL.EDIT_COMPONENT.MENU.SWITCH.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.EDIT_COMPONENT.MENU.SWITCH.INFO' | translate }}</p>
				<selector
					[items]="componentList.components"
					[searchable]="false"
					bindLabel="name"
					bindValue="ID"
					[(ngModel)]="componentList.selected"
					(onValueChange)="changeSelectedComponent($event)">
				</selector>
			</div>
		</div>
		<ion-slides 
			[class.reduce-size]="type === 'edit' && componentList.components?.length > 0"
			class="custom-pagination" #Slides (ionSlideDidChange)="changedSlide()" [pager]="true">
			<ion-slide *ngIf="type === 'create'">
				<div class="page">
					<h2 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'GENERAL.COMPONENT.CREATE.SELECT' | translate }}</h2>
					<ng-container *ngFor="let comp of componentLoader.fhemComponents">
						<button matRipple [matRippleColor]="'#d4d4d480'" class="component-select" (click)="selectComponent(comp.name)">
							<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="component-name">{{ 'COMPONENTS.'+[comp.name]+'.NAME' | translate }}</p>
							<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="component-des des">{{ 'COMPONENTS.'+[comp.name]+'.DES' | translate }}</p>
						</button>
					</ng-container>
				</div>
			</ion-slide>
			<ion-slide>
				<div class="page">
					<h2 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'GENERAL.COMPONENT.EDIT.CONFIG_DATA' | translate }}</h2>
					<!-- inform about custom component config -->
					<div class="custom-inputs" *ngIf="component?.customInputs">
						<p class="head">{{ 'GENERAL.COMPONENT.CUSTOM_INPUTS.INFO' | translate }}</p>
						<p class="des">{{ 'GENERAL.COMPONENT.CUSTOM_INPUTS.DES' | translate }}</p>
					</div>
					<ng-template [ngIf]="component" [ngIfElse]="NO_COMP">
						<div class="config-container">
							<ng-container *ngIf="{ $implicit: component.name, inputs: component.attributes.attr_data, dependencies: component.dependencies } as input">
								<ng-container *ngTemplateOutlet="COMP_INPUT; context: input"></ng-container>
							</ng-container>
							<ng-container *ngFor="let data of component.attributes.attr_bool_data">
								<div class="config-data toggle" [class.hide]="hideConfig(data.attr)">
									<switch
										[padding]="false"
										[(ngModel)]="data.value"
										[label]="'COMPONENTS.'+[component.name]+'.INPUTS.'+[data.attr]+'.name' | translate"
										[subTitle]="'COMPONENTS.'+[component.name]+'.INPUTS.'+[data.attr]+'.info' | translate">
									</switch>
								</div>
							</ng-container>
							<ng-container *ngIf="{ $implicit: component.name, inputs: component.attributes.attr_arr_data } as input">
								<ng-container *ngTemplateOutlet="COMP_INPUT_SELECT; context: input"></ng-container>
							</ng-container>
						</div>
					</ng-template>
				</div>
			</ion-slide>
			<ion-slide *ngIf="component?.attributes.attr_icon || component?.attributes.attr_arr_icon">
				<div class="page">
					<h2 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'GENERAL.COMPONENT.EDIT.CONFIG_ICON' | translate }}</h2>
					<div class="config-container">
						<ng-container *ngIf="{ 
								$implicit: component.name, 
								inputs: component.attributes.attr_icon, 
								selection: settings.icons, 
								bind: 'icon' 
							} as input">
							<ng-container *ngTemplateOutlet="COMP_INPUT_SELECT; context: input"></ng-container>
						</ng-container>
						<ng-container *ngIf="{ 
								$implicit: component.name, 
								inputs: component.attributes.attr_arr_icon, 
								selection: settings.icons, 
								bind: 'icon',
								multiple: true
							} as input">
							<ng-container *ngTemplateOutlet="COMP_INPUT_SELECT; context: input"></ng-container>
						</ng-container>
					</div>
				</div>
			</ion-slide>
			<ion-slide *ngIf="component?.attributes.attr_style || component?.attributes.attr_arr_style">
				<div class="page">
					<h2 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'GENERAL.COMPONENT.EDIT.CONFIG_STYLE' | translate }}</h2>
					<div class="config-container">
						<ng-container *ngIf="{ 
								$implicit: component.name, 
								inputs: component.attributes.attr_style, 
								selection: settings.componentColors, 
								tag: true,
								search: true,
								color: true
							} as input">
							<ng-container *ngTemplateOutlet="COMP_INPUT_SELECT; context: input"></ng-container>
						</ng-container>
						<ng-container *ngIf="{ 
								$implicit: component.name, 
								inputs: component.attributes.attr_arr_style, 
								selection: settings.componentColors, 
								tag: true,
								search: true,
								color: true,
								multiple: true
							} as input">
							<ng-container *ngTemplateOutlet="COMP_INPUT_SELECT; context: input"></ng-container>
						</ng-container>
					</div>
				</div>
			</ion-slide>
			<ion-slide *ngIf="component?.type === 'fhem'">
				<div class="page">
					<h2 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'GENERAL.COMPONENT.EDIT.CONFIG_TEST' | translate }}</h2>
					<ng-template [ngIf]="componentTest.testDone" [ngIfElse]="LOADING">
						<div class="config-container">
							<ng-container *ngFor="let test of ['Device', 'Reading']">
								<h3 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{test}}</h3>
								<div class="test-container" *ngFor="let testDetail of componentTest[test] | keyvalue">
									<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{test}} {{testDetail.key}}:</p>
									<ion-icon 
										colorizer [theme]="settings.app.theme" [style]="['color', 'text']" 
										[class.check]="componentTest[test][testDetail.key]" 
										[name]="componentTest[test][testDetail.key] ? 'checkmark-circle-outline' : 'close-circle-outline' ">
									</ion-icon>
								</div>
							</ng-container>
						</div>
					</ng-template>
				</div>
			</ion-slide>
		</ion-slides>
	</div>
</picker>
<picker
	[height]="'85'"
	[zIndex]="100003"
	[confirmBtn]="'GENERAL.BUTTONS.CLOSE' | translate"
	[showCancelBtn]="false"
	[(ngModel)]="show.componentPreview"
	(onClose)="toggleTestContainer($event)">
	<div body class="page">
		<ng-container #TESTCONTAINER></ng-container>
		<ng-container *ngIf="!componentTest.testDone">
			<ng-container *ngTemplateOutlet="LOADING"></ng-container>
		</ng-container>
	</div>
</picker>

<ng-template #NAMING let-attr="attr" let-name>
	<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'COMPONENTS.'+[name]+'.INPUTS.'+[attr]+'.name' | translate }}</p>
	<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'COMPONENTS.'+[name]+'.INPUTS.'+[attr]+'.info' | translate }}</p>
</ng-template>

<ng-template #COMP_INPUT let-inputs="inputs" let-dependencies="dependencies" let-name>
	<ng-container *ngIf="inputs">
		<ng-container *ngFor="let data of inputs">
			<div class="config-data" [class.hide]="hideConfig(data.attr)">
				<ng-container *ngTemplateOutlet="NAMING; context: {attr: data.attr, $implicit: name}"></ng-container>
				<input [(ngModel)]="data.value" placeholder="{{data.value}}">
		      	<span class="bar"></span>
			</div>
		</ng-container>
	</ng-container>
</ng-template>

<ng-template #COMP_INPUT_SELECT 
	let-inputs="inputs" 
	let-selection="selection" 
	let-bind="bind" 
	let-multiple="multiple" 
	let-search="search" 
	let-tag="tag" 
	let-color="color"
	let-name>
	<ng-container *ngIf="inputs">
		<ng-container *ngFor="let data of inputs">
			<div class="config-data" [class.hide]="hideConfig(data.attr)">
				<ng-container *ngTemplateOutlet="NAMING; context: {attr: data.attr, $implicit: name}"></ng-container>
				<selector
					class="select"
					[items]="selection ? selection : (data.defaults || data.value)"
					[multiple]="multiple ? true : false"
					[searchable]="search ? true : false"
					[addNewItems]="tag ? true : false"
					[bindLabel]="bind ? bind : null"
					[bindValue]="bind ? bind : null"
					[placeholder]="bind ? data.value : null"
					[ngModel]="selection ? data.value : data.value[0]"
					(ngModelChange)="selection ? data.value = $event : data.value[0] = $event">
					<ng-template let-item="item" let-index="index">
						<icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']" *ngIf="bind === 'icon'" [icon]="item.icon"></icon>
						<span *ngIf="color " class="color" [style.background]="item"></span>
						<span class="label" [class.color-label]="color">{{ ( bind === 'icon' ? item.icon : item ) }}</span>
					</ng-template>
				</selector>
			</div>
		</ng-container>
	</ng-container>
</ng-template>

<ng-template #NO_COMP>
	<div class="config-container">
		<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'GENERAL.COMPONENT.EDIT.NO_COMPONENT' | translate }}</p>
	</div>
</ng-template>

<ng-template #LOADING>
	<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</ng-template>