<fhem-component-container 
	[specs]="{ID: ID, device: data_device, reading: data_reading, available: true}" 
	[fhemDevice]="fhemDevice"
	[position]="{width: width, height: height, top: top, left: left, zIndex: zIndex}"
	[minimumWidth]="100"
	[minimumHeight]="40">
	<div class="select">
		<selector
			*ngIf="items.length > 0 || alias.length > 0"
			[fullHeight]="true"
			[items]="alias.length > 0 ? alias : items"
			[searchable]="false"
			[(ngModel)]="selected"
			(onValueChange)="changeSelection($event)">
		</selector>
	</div>
</fhem-component-container>