<ion-app>
    <ion-split-pane [disabled]="true" contentId="main-content">
        <ion-menu [class.bigSettings]="settings.app.showTasks" contentId="main-content" type="overlay" (ionDidOpen)="menuState = true" (ionDidClose)="menuState = false">
            <div class="menu-container {{settings.app.theme}}">
                <ion-header colorizer [theme]="settings.app.theme" [style]="['background', 'primary']">
                    <ion-toolbar>
                        <ion-title colorizer [theme]="settings.app.theme" [style]="['color', 'text']">Menu</ion-title>
                    </ion-toolbar>
                </ion-header>
                <button 
                    colorizer [theme]="settings.app.theme" [style]="['background', 'primary']"
                    *ngIf="!settings.modes.roomEdit && settings.app.enableEditing" 
                    class="btn-round blue fixed-top-right right-pad" matRipple [matRippleColor]="'#d4d4d480'"
                    (click)="edit()">
                    <ion-icon class="edit" name="create"></ion-icon>
                </button>
                <menu-button-container></menu-button-container>
            </div>
            <ng-container *ngIf="structure.rooms.length > 0">
                <ion-content colorizer [theme]="settings.app.theme" [style]="['background', 'primary']">
                    <div *ngIf="menuState" [@menuStagger]="structure.structuredRooms.length" cdkDropList class="list" (cdkDropListDropped)="drop($event, false)">
                        <div *ngFor="let room of structure.structuredRooms" cdkDrag [cdkDragDisabled]="!settings.modes.roomEdit">
                            <div class="box" *ngIf="(task.hideList.rooms.indexOf(room.UID)) === -1">
                                <div class="custom-placeholder" *cdkDragPlaceholder></div>
                                <ng-container *ngIf="room.useRoomAsGroup && { $implicit: room.name, ID: room.ID, icon: room.icon, asGroup: room.useRoomAsGroup } as ctx">
                                    <!-- ROOM Call -->
                                    <ng-container *ngTemplateOutlet="ROOM; context: ctx"></ng-container>
                                    <!-- SUB Items -->
                                    <div cdkDropList class="list" (cdkDropListDropped)="drop($event, room)">
                                        <div *ngFor="let groupRoom of room.groupRooms" cdkDrag [cdkDragDisabled]="!settings.modes.roomEdit">
                                            <div class="box submenu" *ngIf="(task.hideList.rooms.indexOf(structure.rooms[groupRoom.ID].UID)) === -1">
                                                <div class="custom-placeholder" *cdkDragPlaceholder></div>
                                                <!-- ROOM Call -->
                                                <ng-container *ngIf="room.useRoomAsGroup && { $implicit: groupRoom.name, ID: groupRoom.ID, icon: structure.rooms[groupRoom.ID].icon } as subCtx">
                                                    <ng-container *ngTemplateOutlet="ROOM; context: subCtx"></ng-container>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="!room.useRoomAsGroup && { $implicit: room.name, ID: room.ID, icon: room.icon } as ctx">
                                    <ng-container *ngTemplateOutlet="ROOM; context: ctx"></ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ng-container>
        	<div body class="settings">
        		<div class="box">
        			<ion-item>
        				<button class="button" matRipple [matRippleColor]="'#d4d4d480'" (click)="openSettings()">
        					<ion-icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']" slot="start" name="cog"></ion-icon>
	        				<ion-label colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'GENERAL.SETTINGS.TITLE' | translate }}</ion-label>
        				</button>
        			</ion-item>
        		</div>
        		<div class="box" *ngIf="settings.app.showTasks">
        			<ion-item>
        				<button class="button" matRipple [matRippleColor]="'#d4d4d480'" (click)="openTasks()">
        					<ion-icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']" slot="start" name="flash"></ion-icon>
	        				<ion-label colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'GENERAL.TASKS.TITLE' | translate }}</ion-label>
        				</button>
        			</ion-item>
        		</div>
	        </div>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
    <!-- Fhem Menu -->
    <fhem-menu [mode]="settings.modes.fhemMenuMode"></fhem-menu>
</ion-app>

<ng-template #ROOM let-name let-ID="ID" let-icon="icon" let-asGroup="asGroup">
    <ion-item>
        <button 
            [class.resize]="settings.modes.roomEdit"
            class="button" matRipple [matRippleColor]="'#d4d4d480'" 
            (click)="switchRoom(name, ID)">
            <ion-icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']" *ngIf="settings.modes.roomEdit" class="less-margin" slot="start" name="reorder-three"></ion-icon>
            <icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']" [icon]="icon"></icon>
            <ion-label colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{name}}</ion-label>
        </button>
        <button 
            [class.move]="settings.modes.roomEdit"
            *ngIf="asGroup" colorizer [theme]="settings.app.theme" [style]="['color', 'text']" 
            class="change-btn sub" matRipple [matRippleColor]="'#d4d4d480'" (click)="toggleSubMenu($event)">
            <ion-icon slot="end" name="ellipsis-vertical"></ion-icon>
        </button>
        <button 
            *ngIf="settings.modes.roomEdit"
            class="change-btn first" colorizer [theme]="settings.app.theme" [style]="['background', 'primary']"
            matRipple [matRippleColor]="'#d4d4d480'" (click)="editRoom(ID)">
            <ion-icon class="pen" name="create"></ion-icon>
        </button>
        <button 
            *ngIf="settings.modes.roomEdit && structure.rooms.length > 1"
            class="change-btn last" colorizer [theme]="settings.app.theme" [style]="['background', 'primary']"
            matRipple [matRippleColor]="'#d4d4d480'" (click)="removeRoom(ID)">
            <ion-icon class="trash" name="trash"></ion-icon>
        </button>
    </ion-item>
</ng-template>