<ion-app>
    <ion-split-pane [disabled]="true">
        <ion-menu [ngClass]="settings.app.theme" [swipeGesture]="!settings.modes.roomEdit">
             <draggable-menu>
                <div body class="box settings">
                    <ion-item (click)="openSettings()" matRipple [matRippleColor]="'#d4d4d480'">
                        <ion-icon slot="start" name="cog"></ion-icon>
                        <ion-label>{{ 'GENERAL.SETTINGS.TITLE' | translate }}</ion-label>
                    </ion-item>
                </div>
             </draggable-menu>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
    <fhem-menu *ngIf="settings.modes.fhemMenuMode !== ''"></fhem-menu>
</ion-app>