ion-item ion-icon{
	margin-left: 10px;
	margin-right: 8px;
}

ion-item{
	width: 100%;
	
	padding-right: 0px;
	--box-shadow: 0px;
	--inner-border-width: 0px;
}

.page{
	padding: 30px;
	input{
		position: relative;
		font-size:18px;
		padding:10px 10px 10px 5px;
		display:block;
		width:100%;
		border:none;
		border-bottom:1px solid #757575;
		color: #757575;
	}
	input:focus{ outline:none; }
	.bar{ 
		position:relative; 
		display:block; 
		width:100%; 
		left: 0%;
	}
	.bar:before, .bar:after{
	  	content:'';
		height:2px;
		width:0;
		bottom:1px; 
		position:absolute;
		background: var(--btn-blue); 
		transition:0.2s ease all;
	}
	.bar:before {
		left:50%;
	}
	.bar:after {
		right:50%; 
	}
	input:focus ~ .bar:before, input:focus ~ .bar:after {
		width:50%;
	}
	ng-select{
		margin-bottom: 16px;
	}
}

.dark ion-label,
.dark ion-title {
	--color: var(--dark-p);
}

.dark ion-icon,
.dark fa-icon,
.dark p,
.dark h2 {
	color: var(--dark-p);
}

.dark ion-item {
	--background: var(--dark-bg);
}

.dark .box,
.dark .custom-placeholder,
.dark .list,
.dark input,
.dark .btn-round{
	background: var(--dark-bg);
}