<fhem-component-container 
	[specs]="{ID: ID, device: data_device, reading: null, connected: true, forceReload: true}" 
	[position]="{width: width, height: height, top: top, left: left, zIndex: zIndex}"
	[minimumWidth]="200"
	[minimumHeight]="200">
	<div class="sprinkler">
		<div class="sprinkler-page-container" *ngIf="sprinklers.states?.length > 0">
			<div class="btn-box">
				<div class="row">
					<button *ngIf="sprinklers.smart.winterMode" matRipple [matRippleColor]="'#d4d4d480'" class="btn-icon" (click)="openSettings('winterMenu')">
						<ion-icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']" 
							name="snow" class="snow" [ngClass]="sprinklers.smart.winterMode.Value ? 'on' : 'off'">
						</ion-icon>
					</button>
					<button *ngIf="sprinklers.smart.enabled" matRipple [matRippleColor]="'#d4d4d480'" class="btn-icon" (click)="openSettings('smartMenu')">
						<ion-icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']" 
							name="sunny" class="sun" [ngClass]="sprinklers.smart.enabled.Value ? 'on' : 'off'">
						</ion-icon>
					</button>
					<button matRipple [matRippleColor]="'#d4d4d480'" class="btn-icon right" (click)="openSettings('weatherMenu')">
						<ion-icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']"  name="thunderstorm"></ion-icon>
					</button>
					<button matRipple [matRippleColor]="'#d4d4d480'" class="btn-icon right" (click)="openSettings('colorMenu')">
						<ion-icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']"  name="color-palette"></ion-icon>
					</button>
					<button matRipple [matRippleColor]="'#d4d4d480'" class="btn-icon" (click)="openSettings('settingsMenu')">
						<ion-icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']"  name="cog"></ion-icon>
					</button>
				</div>
				<div class="row">
					<button matRipple [matRippleColor]="'#d4d4d480'" class="btn timeline" (click)="openSettings('timelineMenu')">Timeline</button>
				</div>
			</div>
			<div class="sprinkler-switch-container" *ngIf="sprinklers.smart.runInterval">
				<div class="sprinkler-switch">
					<switch
						[(ngModel)]="sprinklers.smart.runInterval.Value"
						[label]="'COMPONENTS.Sprinkler.TRANSLATOR.RUN_INTERVAL.TITLE' | translate"
						[subTitle]="'COMPONENTS.Sprinkler.TRANSLATOR.RUN_INTERVAL.INFO' | translate"
						[actOnCallback]="true"
						(onToggle)="toggleAll($event)">
					</switch>
				</div>
				<div class="sprinkler-switch" *ngFor="let sprinkler of sprinklers.states; let i = index">
					<switch
						[(ngModel)]="sprinkler.callback"
						[label]="sprinklers.names[i]"
						[actOnCallback]="true"
						(onToggle)="toggle($event, i)"
						[subTitle]="subTitleResolver(i)">
					</switch>
				</div>
			</div>
		</div>
	</div>
</fhem-component-container>

<!-- Winter Mode Menu -->
<popup
	[(ngModel)]="menus.winterMenu"
	[width]="90"
	[height]="90">
	<div header>
		<h1 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.WINTER.TITLE' | translate}}</h1>
	</div>
	<div body class="page">
		<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.WINTER.INFO' | translate}}</p>
		<div class="category" *ngIf="sprinklers.smart.winterMode">
			<switch
				[(ngModel)]="sprinklers.smart.winterMode.Value"
				[actOnCallback]="true"
				(onToggle)="changeSmartSetting('winterMode', !$event)"
				[label]="'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.WINTER.BUTTONS.TITLE' | translate"
				[subTitle]="'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.WINTER.BUTTONS.INFO' | translate">
			</switch>
		</div>
	</div>
</popup>

<!-- Smart Sprinkler Menu -->
<popup
	[(ngModel)]="menus.smartMenu"
	[width]="90"
	[height]="90">
	<div header>
		<h1 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.TITLE' | translate}}</h1>
	</div>
	<div body class="page">
		<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.INFO' | translate}}</p>
		<div class="category" *ngIf="sprinklers.smart.enabled">
			<switch
				[actOnCallback]="true"
				[(ngModel)]="sprinklers.smart.enabled.Value"
				[label]="'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.ENABLE.TITLE' | translate"
				[subTitle]="'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.ENABLE.INFO' | translate"
				(onToggle)="changeSmartSetting('enabled', !$event)">
			</switch>
		</div>
		<ng-container *ngIf="sprinklers.smart.enabled && sprinklers.smart.enabled.Value">
			<div class="category">
				<switch
					[actOnCallback]="true"
					[(ngModel)]="sprinklers.smart.rain.Value"
					[label]="'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.RAIN.TITLE' | translate"
					[subTitle]="('COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.RAIN.INFO' | translate)+sprinklers.smart.rainOff.Value+'l/&#13217;.'"
					(onToggle)="changeSmartSetting('rain', !$event)">
				</switch>
				<div class="options" *ngIf="sprinklers.smart.rain.Value">
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="des">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.RAIN_VALUE.TITLE' | translate}}</p>
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des_small">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.RAIN_VALUE.INFO' | translate}}</p>
					<ion-select 
						colorizer [theme]="settings.app.theme" [style]="['color', 'text']" 
						[okText]="'GENERAL.BUTTONS.CONFIRM' | translate" [cancelText]="'GENERAL.BUTTONS.CANCEL' | translate"
		                [(ngModel)]="sprinklers.smart.rainOff.Value" (ionChange)="changeSmartSetting('rainOff', $event.detail.value)">
						<ion-select-option [value]="5">5 l/m2</ion-select-option>
					    <ion-select-option [value]="10">10 l/m2</ion-select-option>
					    <ion-select-option [value]="15">15 l/m2</ion-select-option>
					</ion-select>
				</div>
			</div>
			<div class="category">
				<switch
					[actOnCallback]="true"
					[(ngModel)]="sprinklers.smart.wind.Value"
					[label]="'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.WIND.TITLE' | translate"
					[subTitle]="('COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.WIND.INFO' | translate)+sprinklers.smart.windOff.Value+' km/h.'"
					(onToggle)="changeSmartSetting('wind', !$event)">
				</switch>
				<div class="options" *ngIf="sprinklers.smart.wind.Value">
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="des">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.WIND_VALUE.TITLE' | translate}}</p>
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des_small">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.WIND_VALUE.INFO' | translate}}</p>
		            <ion-select 
		            	colorizer [theme]="settings.app.theme" [style]="['color', 'text']"
		            	[okText]="'GENERAL.BUTTONS.CONFIRM' | translate" [cancelText]="'GENERAL.BUTTONS.CANCEL' | translate"
		            	[(ngModel)]="sprinklers.smart.windOff.Value" (ionChange)="changeSmartSetting('windOff', $event.detail.value)">
					    <ion-select-option [value]="30">30 km/h</ion-select-option>
					    <ion-select-option [value]="35">35 km/h</ion-select-option>
					    <ion-select-option [value]="40">40 km/h</ion-select-option>
					    <ion-select-option [value]="45">45 km/h</ion-select-option>
					    <ion-select-option [value]="50">50 km/h</ion-select-option>
					</ion-select>
				</div>
			</div>
			<div class="category">
				<div class="options">
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="des">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.MAX_TEMP.TITLE' | translate}}</p>
	                <p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des_small">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.MAX_TEMP.INFO' | translate}}{{sprinklers.smart.highTemp.Value}}&#8451;.</p>
	                <ion-select 
	                	colorizer [theme]="settings.app.theme" [style]="['color', 'text']"
	                	[okText]="'GENERAL.BUTTONS.CONFIRM' | translate" [cancelText]="'GENERAL.BUTTONS.CANCEL' | translate"
	                	[(ngModel)]="sprinklers.smart.highTemp.Value" (ionChange)="changeSmartSetting('highTemp', $event.detail.value)">
				        <ion-select-option [value]="25">25&#8451;</ion-select-option>
				        <ion-select-option [value]="30">30&#8451;</ion-select-option>
				    </ion-select>
				</div>
			    <div class="options">
			    	<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="des">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.MAX_TEMP_VALUE.TITLE' | translate}}</p>
	                <p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des_small">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.MAX_TEMP_VALUE.INFO' | translate}}</p>
	                <ion-select 
	                	colorizer [theme]="settings.app.theme" [style]="['color', 'text']"
	                	[okText]="'GENERAL.BUTTONS.CONFIRM' | translate" [cancelText]="'GENERAL.BUTTONS.CANCEL' | translate"
	                	[(ngModel)]="sprinklers.smart.highPercentage.Value" (ionChange)="changeSmartSetting('highPercentage', $event.detail.value)">
				        <ion-select-option [value]="10">10%</ion-select-option>
			            <ion-select-option [value]="20">20%</ion-select-option>
			            <ion-select-option [value]="30">30%</ion-select-option>
			            <ion-select-option [value]="40">40%</ion-select-option>
				    </ion-select>
			    </div>
			</div>
			<div class="category">
				<div class="options">
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="des">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.MIN_TEMP.TITLE' | translate}}</p>
                	<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des_small">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.MIN_TEMP.INFO' | translate}}{{sprinklers.smart.lowTemp.Value}}&#8451;.</p>
                	<ion-select 
                		colorizer [theme]="settings.app.theme" [style]="['color', 'text']"
                		[okText]="'GENERAL.BUTTONS.CONFIRM' | translate" [cancelText]="'GENERAL.BUTTONS.CANCEL' | translate"
                		[(ngModel)]="sprinklers.smart.lowTemp.Value" (ionChange)="changeSmartSetting('lowTemp', $event.detail.value)">
			            <ion-select-option [value]="15">15&#8451;</ion-select-option>
			            <ion-select-option [value]="10">10&#8451;</ion-select-option>
			        </ion-select>
				</div>
				<div class="options">
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="des">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.MIN_TEMP_VALUE.TITLE' | translate}}</p>
                	<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des_small">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.MIN_TEMP_VALUE.INFO' | translate}}</p>
                	<ion-select 
                		colorizer [theme]="settings.app.theme" [style]="['color', 'text']"
                		[okText]="'GENERAL.BUTTONS.CONFIRM' | translate" [cancelText]="'GENERAL.BUTTONS.CANCEL' | translate"
                		[(ngModel)]="sprinklers.smart.lowPercentage.Value" (ionChange)="changeSmartSetting('lowPercentage', $event.detail.value)">
			            <ion-select-option [value]="10">10%</ion-select-option>
		                <ion-select-option [value]="20">20%</ion-select-option>
		                <ion-select-option [value]="30">30%</ion-select-option>
		                <ion-select-option [value]="40">40%</ion-select-option>
			        </ion-select>
				</div>
			</div>
			<div class="category">
				<switch
					[actOnCallback]="true"
					[(ngModel)]="sprinklers.smart.winterProtect.Value"
					[label]="'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.MAIL.TITLE' | translate"
					[subTitle]="('COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.MAIL.INFO' | translate)+'5&#8451;'"
					(onToggle)="changeSmartSetting('winterProtect', !$event)">
				</switch>
				<div class="options" *ngIf="sprinklers.smart.winterProtect.Value">
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="des">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.MAIL_VALUE.TITLE' | translate}}</p>
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des_small">{{formatMail(sprinklers.smart.mail.Value, 'display')}}</p>
					<button (click)="editMail('')">
						<ion-icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']" name="create"></ion-icon>
					</button>
				</div>
			</div>
		</ng-container>
	</div>
</popup>

<!-- Weather Menu -->
<popup
	[(ngModel)]="menus.weatherMenu"
	[width]="90"
	[height]="90">
	<div header>
		<h1 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{'COMPONENTS.Sprinkler.TRANSLATOR.SMART_SPRINKLER.CONFIG.WEATHER' | translate}}</h1>
	</div>
	<div body class="page" *ngIf="sprinklers.weather.maxTemp">
		<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{'COMPONENTS.Sprinkler.TRANSLATOR.WEATHER.FORECAST' | translate}}</p>
		<div class="category">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="des">{{'COMPONENTS.Sprinkler.TRANSLATOR.WEATHER.MAX_TEMP_TODAY' | translate}}{{sprinklers.weather.maxTemp.Value}}&#8451;</p>
		</div>
		<div class="category">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="des">{{'COMPONENTS.Sprinkler.TRANSLATOR.WEATHER.MIN_TEMP_TODAY' | translate}}{{sprinklers.weather.minTemp.Value}}&#8451;</p>
		</div>
		<div class="category">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="des">{{'COMPONENTS.Sprinkler.TRANSLATOR.WEATHER.WIND_TODAY' | translate}}{{sprinklers.weather.wind.Value}} km/h</p>
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des_small" *ngIf="sprinklers.weather.tooWindy.Value">{{'COMPONENTS.Sprinkler.TRANSLATOR.WEATHER.WIND_TODAY_OFF' | translate}}</p>
		</div>
		<div class="category">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="des">{{'COMPONENTS.Sprinkler.TRANSLATOR.WEATHER.RAIN_TODAY' | translate}}{{sprinklers.weather.rain.Value}} l/m2</p>
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des_small" *ngIf="sprinklers.weather.tooRainy.Value">{{'COMPONENTS.Sprinkler.TRANSLATOR.WEATHER.RAIN_TODAY_OFF' | translate}}</p>
		</div>
	</div>
</popup>

<!-- Color Menu -->
<popup
	[(ngModel)]="menus.colorMenu"
	[width]="90"
	[height]="90">
	<div header>
		<h1 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{'COMPONENTS.Sprinkler.TRANSLATOR.COLORS.TITLE' | translate}}</h1>
	</div>
	<div body class="page" *ngIf="sprinklers.names && sprinklerColors?.color">
		<div class="colorSet" *ngFor="let item of sprinklers.names; let i = index">
			<div class="category options">
				<span class="sprinkler-color" [style.background]="sprinklerColors.color[i].val"></span>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="des">{{item}}</p>
				<selector
					[items]="settings.componentColors"
					[addNewItems]="true"
					[searchable]="true"
					[(ngModel)]="sprinklerColors.color[i].val"
					(onValueChange)="updateSprinklerColor()">
					<ng-template let-item="item">
						<span class="color-palette-value" [style.background]="item"></span>
						<span colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="color-palette-label">{{item}}</span>
					</ng-template>
				</selector>
			</div>
		</div>
	</div>
</popup>

<!-- Sprinkler Settings Menu -->
<popup
	[(ngModel)]="menus.settingsMenu"
	[width]="90"
	[height]="90">
	<div header>
		<h1 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{'COMPONENTS.Sprinkler.TRANSLATOR.RUNTIMES.TITLE' | translate}}</h1>
	</div>
	<div body class="page sprinkler-settings" *ngIf="sprinklers.states?.length > 0">
		<ion-slides>
			<ion-slide *ngFor="let j of [1,2]">
				<div class="sprinkler-interval" [ngClass]="'interval'+j">
					<div class="disable-interval">
						<button 
							*ngIf="j === 2 && sprinklers.smart.enableInterval2" matRipple [matRippleColor]="'#d4d4d480'" class="btn" 
							(click)="changeSmartSetting('enableInterval2', !sprinklers.smart.enableInterval2.Value)">
							{{sprinklers.smart.enableInterval2.Value ? ('COMPONENTS.Sprinkler.TRANSLATOR.RUNTIMES.INTERVAL_2.DISABLE' | translate) : ('COMPONENTS.Sprinkler.TRANSLATOR.RUNTIMES.INTERVAL_2.ENABLE' | translate)}}
						</button>
					</div>
					<div 
						*ngIf="j === 2 && sprinklers.smart.enableInterval2" 
						class="overlay-interval2" [ngStyle]="{'transform': (!sprinklers.smart.enableInterval2.Value ? 'translate3d(0,0,0)' : 'translate3d(100%, 0, 0)')}">
					</div>
					<div class="start-time">
						<h2 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{'COMPONENTS.Sprinkler.TRANSLATOR.RUNTIMES.INTERVAL.TITLE' | translate}} {{j}}</h2>
						<timepicker
							[actOnCallback]="true"
							[label]="'COMPONENTS.Sprinkler.TRANSLATOR.RUNTIMES.INTERVAL.START_TIME' | translate"
							[(ngModel)]="sprinklers.times['interval'+j][0].startTime"
							(onTimeChange)="setEnd(sprinklers.times['interval'+j][0].device, 0, $event, sprinklers.times['interval'+j][0].duration, 'inter'+j)">
						</timepicker>
					</div>
					<div class="category">
	                    <h4 colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="des">{{'COMPONENTS.Sprinkler.TRANSLATOR.RUNTIMES.INTERVAL.TOTAL_RUNTIME' | translate}}</h4>
	                    <p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des_small">{{sprinklers.totalDuration['start'+j]}} - {{sprinklers.totalDuration['end'+j]}}</p>
	            	</div>
	            	<div class="singleSprinkler category" *ngFor="let item of sprinklers.times['interval'+j]; let i = index">
	            		<h4 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{'COMPONENTS.Sprinkler.TRANSLATOR.RUNTIMES.INTERVAL.CYCLE' | translate}}</h4>
	            		<div class="naming" (click)="editName(i)">
	            			<span *ngIf="sprinklerColors?.color" class="sprinkler-color" [style.background]="sprinklerColors.color[i].val"></span>
	            			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="sprinkler-name">{{sprinklers.names[i]}}</p>
	            			<ion-icon name="create"></ion-icon>
	            		</div>
	            		<div class="sprinkler-duration">
	            			<timepicker
								[actOnCallback]="true"
								[label]="'COMPONENTS.Sprinkler.TRANSLATOR.RUNTIMES.INTERVAL.RUNTIME' | translate"
								[maxHours]="'4'"
								[(ngModel)]="sprinklers.times['interval'+j][i].duration"
								(onTimeChange)="setEnd(sprinklers.times['interval'+j][i].device, i, sprinklers.times['interval'+j][i].startTime, $event, 'inter'+j)">
							</timepicker>
	            		</div>
	            		<button matRipple [matRippleColor]="'#d4d4d480'" (click)="select.open()" class="select-btn">
	            			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="des">{{'COMPONENTS.Sprinkler.TRANSLATOR.RUNTIMES.INTERVAL.WEEKDAYS' | translate}}</p>
	            			<ion-select 
	            				colorizer [theme]="settings.app.theme" [style]="['color', 'text']"
	            				#select [okText]="'GENERAL.BUTTONS.CONFIRM' | translate" [cancelText]="'GENERAL.BUTTONS.CANCEL' | translate"
			                    multiple="true" [(ngModel)]="sprinklers.times['interval'+j][i].days.days" (ionChange)="changeWeekdays($event, i, 'inter'+j)">
			                    <ion-select-option value="1">{{'GENERAL.DICTIONARY.WEEKDAYS.MONDAY' | translate}}</ion-select-option>
			                    <ion-select-option value="2">{{'GENERAL.DICTIONARY.WEEKDAYS.TUESDAY' | translate}}</ion-select-option>
			                    <ion-select-option value="3">{{'GENERAL.DICTIONARY.WEEKDAYS.WEDNESDAY' | translate}}</ion-select-option>
			                    <ion-select-option value="4">{{'GENERAL.DICTIONARY.WEEKDAYS.THURSDAY' | translate}}</ion-select-option>
			                    <ion-select-option value="5">{{'GENERAL.DICTIONARY.WEEKDAYS.FRIDAY' | translate}}</ion-select-option>
			                    <ion-select-option value="6">{{'GENERAL.DICTIONARY.WEEKDAYS.SATURDAY' | translate}}</ion-select-option>
			                    <ion-select-option value="0">{{'GENERAL.DICTIONARY.WEEKDAYS.SUNDAY' | translate}}</ion-select-option>
			                </ion-select>
	            		</button>
	            		<div class="summary">
	            			<h4 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{'COMPONENTS.Sprinkler.TRANSLATOR.RUNTIMES.INTERVAL.SUMMARY' | translate}}</h4>
	            			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="runtime">
			                    {{'COMPONENTS.Sprinkler.TRANSLATOR.RUNTIMES.INTERVAL.RUNTIME' | translate}} {{sprinklers.times['interval'+j][i].startTime}} - {{sprinklers.times['interval'+j][i].endTime}} ({{sprinklers.times['interval'+j][i].duration}})<br>
			                    {{'COMPONENTS.Sprinkler.TRANSLATOR.RUNTIMES.INTERVAL.WEEKDAYS' | translate}} 
			                    <span *ngIf="sprinklers.times['interval'+j][i].days.allDays === true">{{'GENERAL.DICTIONARY.WEEKDAYS.DAILY' | translate}}.</span>
			                    <span *ngIf="sprinklers.times['interval'+j][i].days.allDays === false">
			                    	<span *ngFor="let day of sprinklers.times['interval'+j][i].days.textDays; let j = index">{{ day }}</span>
			                    </span>
			                </p>
	            		</div>
	            	</div>
				</div>
			</ion-slide>
		</ion-slides>
	</div>
</popup>

<!-- Timeline Menu -->
<picker
	[(ngModel)]="menus.timelineMenu"
	[height]="80"
	[showConfirmBtn]="false"
	[cancelBtn]="'GENERAL.BUTTONS.CLOSE' | translate">
	<div header>
		<h1 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">Timeline</h1>
	</div>
	<div body class="page">
		<table class="calendar" colorizer [theme]="settings.app.theme" [style]="['background', 'primary']">
			<tr class="weekdays">
			    <td *ngFor="let item of [
			        '',
			        ('GENERAL.DICTIONARY.WEEKDAYS.MONDAY' | translate),
			        ('GENERAL.DICTIONARY.WEEKDAYS.TUESDAY' | translate),
			        ('GENERAL.DICTIONARY.WEEKDAYS.WEDNESDAY' | translate),
			        ('GENERAL.DICTIONARY.WEEKDAYS.THURSDAY' | translate),
			        ('GENERAL.DICTIONARY.WEEKDAYS.FRIDAY' | translate),
			        ('GENERAL.DICTIONARY.WEEKDAYS.SATURDAY' | translate),
			        ('GENERAL.DICTIONARY.WEEKDAYS.SUNDAY' | translate)
			        ]"><p colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{item.substr(0,2)}}</p>
			    </td>
			</tr>
		</table>
		<div class="content_calendar" [ngClass]="local.today" *ngIf="sprinklerColors?.color">
			<span class="local-percentage" [ngStyle]="{'top': local.percentage}"></span>
			<div class="timeContainer" colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
	            <p 
	            	class="day-time" 
	            	*ngFor="let item of ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']">{{item}}:00
	            </p>
	        </div>
	        <div class="calendarDay" *ngFor="let day of ['1', '2', '3', '4', '5', '6', '7']; let i = index">
	        	<div *ngFor="let values of timeArr; let j = index" class="times_calendar">
	        		<span class="time-elem" *ngFor="let k of [1,2]"
	                  	[class.disabled]="(sprinklers.smart.tooRainy || sprinklers.smart.tooWindy) || (k === 2 && !sprinklers.smart.enableInterval2.Value)"
	                   	[ngStyle]="{'top': timeArr[j]['startP_'+k+'_'+day], 'height': timeArr[j]['heightP_'+k+'_'+day], 'background-color': sprinklerColors.color[j].val}"
	                  	(click)="showRuntime(j)">
	                </span>
	                <span class="time-elem" *ngFor="let k of [1,2]"
	                   	[class.disabled]="(sprinklers.smart.tooRainy || sprinklers.smart.tooWindy) || (k === 2 && !sprinklers.smart.enableInterval2.Value)"
	                   	[ngStyle]="{'top': timeArr[j]['startFromNullP_'+k+'_'+day], 'height': timeArr[j]['heightFromNullP_'+k+'_'+day], 'background-color': sprinklerColors.color[j].val}"
	                   	(click)="showRuntime(j)">
	                </span>
	        	</div>
	        </div>
		</div>
	</div>
</picker>







