:host{
	display: block;
	height: 56px;
	width: 100%;
	position: absolute;
	ion-header{
		user-select: none;
		width: 100%;
		height: 100%;
	}
	ion-menu-button{
		position: absolute;
		left: 15px;
		font-size: 35px;
	}
	ion-title{
		position: absolute;
		left: 110px;
		line-height: 30px;
		padding: 0;
	}
	icon,
	button,
	ion-title,
	ion-menu-button{
		top: 50%;
		transform: translateY(-50%);
	}
	icon{
		left: 70px;
		position: absolute;
	}
}