<fhem-component-container 
	[specs]="{ID: ID, device: data_device, reading: data_reading, available: true}" 
	[fhemDevice]="fhemDevice"
	[position]="{width: width, height: height, top: top, left: left, zIndex: zIndex}"
	[minimumWidth]="30"
	[minimumHeight]="30">
	<button 
		class="color-picker btn-round" 
		matRipple [matRippleColor]="'#d4d4d480'"
		(click)="togglePopup()"
		[ngStyle]="{
			'background-color': '#'+color,
			'border-top-left-radius.px': bool_data_customBorder ? data_borderRadiusTopLeft : data_borderRadius,
			'border-top-right-radius.px': bool_data_customBorder ? data_borderRadiusTopRight : data_borderRadius,
			'border-bottom-left-radius.px': bool_data_customBorder ? data_borderRadiusBottomLeft : data_borderRadius,
			'border-bottom-right-radius.px': bool_data_customBorder ? data_borderRadiusBottomRight : data_borderRadius
		}">
	</button>
</fhem-component-container>
<popup 
	[(ngModel)]="popupState"
	[width]="data_popupWidth"
	[height]="data_popupHeight"
	[animation]="bool_data_customAnimation ? arr_data_animationStyle[0] : 'scale'"
	[invertAnimation]="bool_data_customAnimation ? bool_data_invertAnimation : false"
	(onOpen)="popupOpened()"
	(onClose)="popupClosed()">
	<div header>
		<h1 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ (data_headline !== '' ? data_headline : data_device) }}</h1>
	</div>
	<div body class="content">
		<div class="favs">
			<button 
				colorizer [theme]="settings.app.theme" [style]="['background', 'secondary']"
				matRipple [matRippleColor]="'#d4d4d480'" 
				class="btn-round left-btn" (click)="toggleFavs()">
				<ion-icon name="color-palette"></ion-icon>
			</button>
			<button 
				colorizer [theme]="settings.app.theme" [style]="['background', 'secondary']"
				matRipple [matRippleColor]="'#d4d4d480'" 
				class="btn-round right-btn" (click)="addToColorFavs()">
				<ion-icon name="star"></ion-icon>
			</button>
		</div>
		<div class="color-selector" #Container>
			<div class="wheel-container" [ngStyle]="{'width.px': dimension,'height.px': dimension}">
				<div class="outer-circle"
					[ngStyle]="{'background': 'linear-gradient( rgb(0, 0, 0), '+ styles.outerGradient +', rgb(245, 243, 240) )'}">
					<div class="select-brightness">
						<div colorizer [theme]="settings.app.theme" [style]="['background', 'primary']" class="overlay"></div>
					</div>
					<div class="rotator rotator-outer"
						[ngStyle]="{'transform': 'rotate('+ styles.outerRotation +'deg)'}">
						<div class="knob knob-outer"></div>
					</div>
				</div>
				<div class="inner-circle">
					<canvas class="canvas canvas-inner"></canvas>
						<div class="knob knob-inner">
							<div [ngStyle]="{
								'background': '#' + color,
								'transform': styles.innerTranslate
							}" class="knob-inner-move"></div>
						</div>
				</div>
			</div>
		</div>
	</div>
</popup>
<picker
	[(ngModel)]="showFavs"
	[height]="60"
	[showConfirmBtn]="false">
	<div body class="content fav-content">
		<p 
			*ngIf="!colorFavs || colorFavs.length === 0" class="no-favs" 
			colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
			{{ 'COMPONENTS.Color Picker.TRANSLATOR.NO_FAVOURITES' | translate }}
		</p>
		<ng-container *ngIf="colorFavs && colorFavs.length > 0">
			<div class="list-item" *ngFor="let color of colorFavs; let i = index">
				<button class="list-btn first" matRipple [matRippleColor]="'#d4d4d480'" (click)="setFavColor(color)">
					<span class="color-item" [ngStyle]="{'background-color': color}"></span>
					<span colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="color-label">{{color}}</span>
				</button>
				<button class="list-btn second" matRipple [matRippleColor]="'#d4d4d480'" (click)="removeFavColor(i)">
					<ion-icon name="trash"></ion-icon>
				</button>
			</div>
		</ng-container>
	</div>
</picker>