:host{
	.table{
		width: inherit;
		height: inherit;
		overflow: auto;
		pointer-events: all;
		table{
			width: 100%;
			table-layout: fixed;
			text-align: left;
			th, td{
				border: 1px solid #565656;
				height: 30px;
				padding-left: 8px;
			}
		}
		.btn-round{
			cursor: pointer;
			pointer-events: all;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 101;
		}
	}
	h2{
		margin: 0;
	}
	.body{
		.config-container{
			margin-bottom: 10px;
		}
		p{
			margin-bottom: 0px;
			&.des{
				font-size: 0.8em;
				margin-bottom: 5px;
			}
		}
	}
}