:root {
  //THEME Variables for FhemNative
  --btn-blue: rgb(20, 169, 213);
  --btn-green: rgb(76, 175, 80);
  --btn-red: rgb(214, 33, 33);
  --btn-blue-bg: #2994b3;

  // THEME OPACITY
  --btn-blue-op: rgba(20, 169, 213, 0.7);
  --btn-green-op: rgba(76, 175, 80, 0.7);
  --btn-red-op: rgba(214, 33, 33, 0.7);

  --gradient: linear-gradient(to right, #32a6ff 0%,#5d94ad 100%);

  // Color definition
  //Border Color
  --dark-border: #565656;
  // DARK
  --primary-dark: #212121;
  --primary-dark-op: #21212199;

  --secondary-dark: #303030;
  --secondary-dark-op: #30303080;

  --tertiary-dark: #424242;
  // teyt colors
  --text-dark: #fff;
  --des-dark: #ffffffb3;
  // active colors
  --active-dark: rgb(20, 169, 213);
  // neumorph in dark 
  --neumorph-in-dark: 0px 0px 0px 0px rgba(23,23,23,.801), 0px 0px 0px 0px rgba(40,40,40,.801), inset 6px 6px 16px 0px rgba(23,23,23,.801), inset -6px -6px 16px 0px rgba(40,40,40,.801);
  // neumorph out dark
  --neumorph-out-dark: 6px 6px 16px 0px rgba(23,23,23,.801), -6px -6px 16px 0px rgba(40,40,40,.801), inset 0px 0px 0px 0px rgba(23,23,23,.801), inset 0px 0px 0px 0px rgba(40,40,40,.801);
  // neumorph small out dark
  --neumorph-small-out-dark: 2px 2px 6px 0px rgba(23,23,23,.801), -2px -2px 6px 0px rgba(40,40,40,.801), inset 0px 0px 0px 0px rgba(23,23,23,.801), inset 0px 0px 0px 0px rgba(40,40,40,.801);
  // neumorph border dark
  --neumorph-border-dark: 1px solid rgba(40,40,40,.801);

  // DARK Alternative
  --primary-dark-alternative: rgb(56, 56, 56);
  --primary-dark-op-alternative: rgba(56, 56, 56, 0.6);

  --secondary-dark-alternative: rgb(47, 47, 47);
  --secondary-dark-op-alternative: #30303080;

  --tertiary-dark-alternative: #424242;
  // teyt colors
  --text-dark-alternative: #fff;
  --des-dark-alternative: #ffffffb3;
  // neumorph in dark 
  --neumorph-in-dark-alternative: 0px 0px 0px 0px rgba(40, 40, 41, 0.801), 0px 0px 0px 0px rgba(65, 65, 65, 0.801), inset 6px 6px 16px 0px rgba(40, 40, 41, 0.801), inset -6px -6px 16px 0px rgba(65, 65, 65, 0.801);
  // neumorph out dark
  --neumorph-out-dark-alternative: 6px 6px 16px 0px rgba(40, 40, 41, 0.801), -6px -6px 16px 0px rgba(65, 65, 65, 0.801), inset 0px 0px 0px 0px rgba(40, 40, 41, 0.801), inset 0px 0px 0px 0px rgba(65, 65, 65, 0.801);
  // neumorph small out dark
  --neumorph-small-out-dark-alternative: 2px 2px 6px 0px rgba(40, 40, 41, 0.801), -2px -2px 6px 0px rgba(65, 65, 65, 0.801), inset 0px 0px 0px 0px rgba(40, 40, 41, 0.801), inset 0px 0px 0px 0px rgba(65, 65, 65, 0.801);
  // neumorph border dark
  --neumorph-border-dark-alternative: 1px solid rgba(65, 65, 65, 0.801);


  // BRIGHT
  --primary-bright: #ffffff;
  --primary-bright-op: #efefef99;

  --secondary-bright: #efefef;
  --secondary-bright-op: #efefef99;

  --tertiary-bright: #424242;
  // teyt colors
  --text-bright: #000;
  --des-bright: #000000b3;
  // active colors
  --active-bright: rgb(20, 169, 213);
  // neumorph in bright
  --neumorph-in-bright: 0px 0px 0px 0px #dde4ef, 0px 0px 0px 0px #fff, inset 6px 6px 16px 0px #dde4ef, inset -6px -6px 16px 0px #fff;
  // neumorph out bright
  --neumorph-out-bright: 6px 6px 16px 0px #dde4ef, -6px -6px 16px 0px #fff, inset 0px 0px 0px 0px #dde4ef, inset 0px 0px 0px 0px #fff;
  // neumorph small out bright
  --neumorph-small-out-bright: 2px 2px 6px 0px #dde4ef, -2px -2px 6px 0px #fff, inset 0px 0px 0px 0px #dde4ef, inset 0px 0px 0px 0px #fff;
  // neumorph border bright
  --neumorph-border-bright: 1px solid #fff;
}