:host{
	.grid{
		min-height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		.grid-line{
			position: absolute;
			background: #ddd;
			opacity: 0.2;
			&.w{
				width: 1px;
				height: 100%;
				&.bold{
					width: 2px;
					transform: translateX(-1px);
				}
			}
			&.h{
				width: 100%;
				height: 1px;
				left: 0;
				&.bold{
					height: 2px;
					transform: translateY(-1px);
				}
			}
		}
	}
}