:host{
	.room-container{
		position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    overflow: hidden;
	    ion-title{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 65px;
			line-height: 30px;
		}
		icon{
			position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		}
		.content{
			position: relative;
			height: calc(100% - 56px);
			width: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			.container{
				width: inherit;
				height: inherit;
			}
			.add-btn{
				position: fixed;
				bottom: 8px;
				right: 0;
				z-index: 102;
			}
		}
	}
}