 <div class="room-container">
 	 <ion-header colorizer [theme]="settings.app.theme" [style]="['background', 'primary']">
		<ion-toolbar>
			<ion-buttons slot="start">
				<ion-menu-button colorizer [theme]="settings.app.theme" [style]="['color', 'text']"></ion-menu-button>
			</ion-buttons>
			<icon *ngIf="structure.currentRoom?.icon" colorizer [theme]="settings.app.theme" [style]="['color', 'text']" [icon]="structure.currentRoom.icon"></icon>
			<ion-title colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{structure.currentRoom?.name}}</ion-title>
			<button 
				colorizer [theme]="settings.app.theme" [style]="['background', 'primary']"
				matRipple [matRippleColor]="'#d4d4d480'" class="btn-round blue right-pad" 
				*ngIf="!settings.modes.roomEdit && settings.app.enableEditing" (click)="edit()">
				<ion-icon class="edit" name="create"></ion-icon>
			</button>
		</ion-toolbar>
	</ion-header>
	<menu-button-container [create]="'CreateRoomComponent'"></menu-button-container>
	<div class="content" colorizer [theme]="settings.app.theme" [style]="['background', 'primary']" [attr.id]="'room_@' + structure.currentRoom.ID">
		<ng-container class="container" #container></ng-container>
		<button 
			colorizer [theme]="settings.app.theme" [style]="['background', 'primary']"
			matRipple [matRippleColor]="'#d4d4d480'" class="add-btn right-pad"
			*ngIf="settings.modes.roomEdit" (click)="createComponentMenu()">
			<span class="line top"></span>
			<span class="line bottom"></span>
		</button>
	</div>
 </div>