<fhem-component-container 
	[specs]="{ID: ID, device: data_device, reading: data_reading, available: true}"
	[fhemDevice]="fhemDevice" 
	[position]="{width: width, height: height, top: top, left: left, zIndex: zIndex}"
	[minimumWidth]="100"
	[minimumHeight]="40">
	<div class="timepicker">
		<timepicker
			[actOnCallback]="true"
			[showBorder]="bool_data_showBorder"
			[fullHeight]="true"
			[maxHours]="data_maxHours"
			[maxMinutes]="data_maxMinutes"
			[label]="data_label"
			[confirmBtn]="data_confirmBtn"
			[cancelBtn]="data_cancelBtn"
			[timeFormat]="arr_data_format[0]"
			[(ngModel)]="value"
			(onTimeChange)="updateTime($event)">
		</timepicker>
	</div>
</fhem-component-container>