<popup
	[(ngModel)]="popupState"
	[width]="90"
	[height]="90"
	(onClose)="resetModes()">
	<div header>
		<!-- IP Settings Header -->
		<ng-container *ngIf="mode === 'ip-config'">
			<h1 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{'GENERAL.FHEM_MENU.CONNECTION.TITLE' | translate }}</h1>
		</ng-container>
	</div>
	<div body class="page">
		<!-- IP Settings Page -->
		<ng-container *ngIf="mode === 'ip-config'">
			<div class="connection-block" *ngFor="let connection of settings.connectionProfiles; let i = index">
				<div class="settings-block no-border">
					<!-- IP Adress -->
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="block-label">{{ 'GENERAL.FHEM_MENU.CONNECTION.PROFILE.HEADER'  | translate }}: {{i + 1}}</p>
					<div class="category">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.FHEM_MENU.CONNECTION.IP.TITLE' | translate }}</p>
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.FHEM_MENU.CONNECTION.IP.INFO' | translate }}</p>
						<input [(ngModel)]="connection.IP" placeholder="{{connection.IP}}">
		      			<span class="bar"></span>
					</div>
					<!-- Port -->
					<div class="category">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.FHEM_MENU.CONNECTION.PORT.TITLE' | translate }}</p>
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.FHEM_MENU.CONNECTION.PORT.INFO' | translate }}</p>
						<input [(ngModel)]="connection.PORT" placeholder="{{connection.PORT}}">
		      			<span class="bar"></span>
					</div>
					<!-- Type selection -->
					<div class="category btn-category">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.FHEM_MENU.CONNECTION.TYPE.TITLE' | translate }}</p>
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.FHEM_MENU.CONNECTION.TYPE.INFO' | translate }}</p>
						<ion-select 
							colorizer [theme]="settings.app.theme" [style]="['color', 'text']"
							[okText]="'GENERAL.BUTTONS.CONFIRM' | translate" [cancelText]="'GENERAL.BUTTONS.CANCEL' | translate"
							[(ngModel)]="connection.type">
							<ion-select-option value="Websocket">Websocket</ion-select-option>
							<ion-select-option value="Fhemweb">Fhemweb</ion-select-option>
						</ion-select>
					</div>
					<!-- Basic Auth -->
					<div class="category">
						<switch
							[(ngModel)]="connection.WSS"
							[padding]="false"
							[label]="'GENERAL.FHEM_MENU.CONNECTION.SECURE.TITLE' | translate"
							[subTitle]="'GENERAL.FHEM_MENU.CONNECTION.SECURE.INFO' | translate">
						</switch>
					</div>
					<!-- WSS -->
					<div class="category">
						<switch
							[(ngModel)]="connection.basicAuth"
							[padding]="false"
							[label]="'GENERAL.FHEM_MENU.CONNECTION.BASIC_AUTH.TITLE' | translate"
							[subTitle]="'GENERAL.FHEM_MENU.CONNECTION.BASIC_AUTH.INFO' | translate">
						</switch>
					</div>
					<!-- Password/USER -->
					<ng-container *ngIf="connection.basicAuth">
						<!-- USER -->
						<div class="category">
							<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.FHEM_MENU.CONNECTION.BASIC_AUTH.USER.TITLE' | translate }}</p>
							<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.FHEM_MENU.CONNECTION.BASIC_AUTH.USER.INFO' | translate }}</p>
							<input [(ngModel)]="connection.USER" placeholder="{{connection.USER}}">
			      			<span class="bar"></span>
						</div>
						<!-- PASSW -->
						<div class="category">
							<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.FHEM_MENU.CONNECTION.BASIC_AUTH.PASSW.TITLE' | translate }}</p>
							<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.FHEM_MENU.CONNECTION.BASIC_AUTH.PASSW.INFO' | translate }}</p>
							<input type="password" [(ngModel)]="connection.PASSW" placeholder="{{connection.PASSW}}">
			      			<span class="bar"></span>
						</div>
					</ng-container>
				</div>
				<!-- remove profile -->
				<div class="settings-block no-border" *ngIf="i !== 0">
					<div class="category btn-category-round">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.FHEM_MENU.CONNECTION.PROFILE.DELETE.TITLE' | translate }}</p>
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.FHEM_MENU.CONNECTION.PROFILE.DELETE.INFO' | translate }}</p>
						<button 
							colorizer [theme]="settings.app.theme" [style]="['background', 'primary']"
							matRipple [matRippleColor]="'#d4d4d480'"
							class="btn-round" (click)="deleteProfile(i)">
							<ion-icon class="trash" name="trash"></ion-icon>
						</button>
					</div>
				</div>
			</div>

			<!-- Add Profile -->
			<div class="settings-block">
				<div class="category btn-category-round">
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.FHEM_MENU.CONNECTION.PROFILE.TITLE' | translate }}</p>
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.FHEM_MENU.CONNECTION.PROFILE.INFO' | translate }}</p>
					<button 
						colorizer [theme]="settings.app.theme" [style]="['background', 'primary']"
						matRipple [matRippleColor]="'#d4d4d480'"
						class="add-btn btn-round" (click)="addProfile()">
						<span class="line top"></span>
						<span class="line bottom"></span>
					</button>
				</div>
			</div>
			<!-- Save/Cancel -->
			<div class="settings-block">
				<div class="category btn-full-category">
					<button class="save" matRipple [matRippleColor]="'#d4d4d480'" (click)="saveIPSettings()">{{ 'GENERAL.BUTTONS.SAVE' | translate }}</button>
					<button class="cancel" matRipple [matRippleColor]="'#d4d4d480'" (click)="cancelIPSettings()">{{ 'GENERAL.BUTTONS.CANCEL' | translate }}</button>
				</div>
			</div>
		</ng-container>
	</div>
</popup>