:host {
    position: absolute;
    right: 0;
    top: 0;
    .container {
        position: inherit;
        top: 5px;
        right: 0px;
        width: 160px;
        height: 55px;
        &.active {
            z-index: 100001;
        }
        &.show-create{
            width: 213px;
        }
        .btn-container {
            position: relative;
        }
        .undo-manager {
            padding-top: 5px;
            position: absolute;
            width: 115px;
            height: 55px;
            z-index: 100;
            transform: translate(-35px, 50px);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
            .arrow {
                position: absolute;
                width: 20px;
                height: 20px;
                left: 50%;
                transform: rotate(45deg) translateY(13px);
                margin-top: -20px;
            }
        }
        .btn-round {
            margin-right: 8px;
            &.disabled {
                opacity: 0.5;
                :after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            ion-icon.bigger {
                font-size: 30px;
            }
            .change {
                color: var(--btn-blue);
            }
            .save-icon {
                color: var(--btn-green);
            }
            .close-icon {
                color: var(--btn-red);
            }
        }
    }
}