:host {
    .page {
        padding: 10px;
    }
    .add-btn {
        position: absolute;
        right: 8px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: #ffffff;
        border: none;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
        top: 50%;
        transform: translateY(-50%);
    }
    .add-btn:hover .line.top {
        transform: translate3d(-50%, -50%, 0) rotate(90deg);
    }
    .add-btn:hover .line.bottom {
        transform: translate3d(-50%, -50%, 0) rotate(180deg);
    }

    .add-else-container,
    .add-output-container{
        height: 70px;
        .text-block{
            display: inline-block;
            p{
                width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .add-output {
        position: relative;
        top: 10px;
        margin-left: 8px;
        &.remove{
            top: 5px;
            padding: 0;
            ion-icon{
                font-size: 30px;
                color: var(--btn-red);
            }
        }
    }
    .line {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 60%;
        height: 5px;
        background: var(--gradient);
        border-radius: 5px;
        transition: all .3s ease;
    }
    .line.top {
        transform: translate3d(-50%, -50%, 0);
    }
    .line.bottom {
        transform: translate3d(-50%, -50%, 0) rotate(90deg);
    }
    .btn {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        transition: all 0.3 ease;
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .btn.half {
        width: calc(50% - 10px);
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .btn.submit {
        background: var(--btn-green);
    }
    .btn.cancel {
        background: var(--btn-red);
    }
    .des {
        color: var(--p-small) !important;
        font-size: .8em;
        white-space: normal;
        margin-top: -10px;
    }
    .inp {
        position: relative;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #757575;
        color: #757575;
    }
    .inp:focus {
        outline: none;
    }
    .bar {
        position: relative;
        display: block;
        width: 100%;
        left: 0%;
    }
    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: var(--btn-blue);
        transition: 0.2s ease all;
    }
    .bar:before {
        left: 50%;
    }
    .bar:after {
        right: 50%;
    }
    .inp:focus~.bar:before, .inp:focus~.bar:after {
        width: 50%;
    }
    .task {
        position: relative;
        border-bottom: 1px solid #757575;
        height: 50px;
        width: 100%;
    }
    .label-container {
        width: calc(100% - 140px);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .label-container p {
        margin-top: 5px;
        margin-bottom: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .button-container {
        width: 140px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .button-container.single {
        width: 45px;
    }
    .btn-icon {
        width: 40px;
        height: 40px;
        background: transparent;
        border-radius: 50%;
        font-size: 25px;
        padding: 0px;
        top: 5px;
        margin-left: 3px;
        margin-right: 3px;
    }
    .select-box {
        width: 100%;
        position: relative;
        border-bottom: 2px solid #757575;
    }
    .select-box .text, .block-definition p {
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
    .block-definition p {
        width: 50px;
    }
    .select-box ng-select, .block-definition ng-select, .input-param ng-select {
        width: 45%;
        position: absolute;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
    }
    .block-definition ng-select, .block-outputs .input-param ng-select {
        right: 5px;
    }
    .input-param ng-select.right {
        right: 5px !important;
        left: auto;
    }
    .graph-container {
        background-color: #263238;
        width: 100%;
        height: 75vh;
        overflow: auto;
    }
    .code-block {
        position: relative;
        min-height: 100px;
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
        border: 2px dotted #ddd;
    }
    .block-definition {
        width: 100%;
        height: 40px;
        border-bottom: 3px solid #757575;
        position: relative;
    }
    .block-container {
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }
    .block-container.IF,
    .block-container.ELSE {
        background: #14a9d5;
    }
    .block-condition {
        color: var(--dark-p);
        top: 50%;
        position: relative;
        transform: translateY(-50%);
        margin: 0;
        padding-left: 10px;
    }
    .block-operators, .block-inputs {
        position: relative;
        border-bottom: 2px solid #757575;
        min-height: 80px;
    }
    .block-outputs {
        position: relative;
        min-height: 80px;
    }
    .input-text {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 50px;
        border-right: 0.5px solid #757575;
    }
    .input-text p {
        transform: rotate(-90deg) translateX(50%);
        top: 50%;
        position: relative;
    }
    .input-key {
        width: 42%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        position: absolute;
        margin: 0;
        left: 30px;
        line-height: 40px;
    }
    .input-param {
        height: 46px;
        width: calc(100% - 50px);
        left: 50px;
        position: relative;
        &.select-output{
            border-bottom: 0.5px solid #757575;
        }
        &.last {
            border-bottom: 0px;
        }
        .input-value {
            position: absolute;
            right: 5px;
            height: 36px;
            top: 50%;
            width: 45%;
            border: none;
            transform: translateY(-50%);
        }
        ng-select.ng-select-opened{
            z-index: 101;
        }
    }
    .output-container{
        position: relative;
        .remove-output{
            width: 30px;
            height: 100%;
            position: absolute;
            left: 50px;
            top: 0;
            background: transparent;
            z-index: 1;
            padding: 0;
            ion-icon{
                font-size: 25px;
                color: var(--btn-red);
            }
        }
    }
    .block-operators .input-param {
        height: 80px;
    }
    .block-operators ng-select {
        left: 5px;
    }
    timepicker {
        background: #fff;
    }
    .dark p, .dark input, .dark .back-btn ion-icon, .dark .btn-icon ion-icon {
        color: var(--dark-p);
    }
    ion-content.dark, .dark ion-toolbar {
        --background: var(--dark-bg);
    }
    .dark .add-btn, .dark input, .dark timepicker {
        background: var(--dark-bg);
    }
    .back-btn {
        background: transparent;
        float: left;
        font-size: 30px;
        margin-left: 8px;
    }
    ion-title {
        transform: translateY(5px);
    }
    button:focus {
        outline: 0px;
    }
    .block-definition ng-select{
    	z-index: 100;
    }
}