:host {
	display: block;
	width: 100%;
	&.full-height{
		height: 100%;
		.switch-container{
			height: 100%;
		}
	}
	.switch-container {
		position: relative;
		width: 100%;
		min-height: 45px;
		&.padding {
			padding-left: 8px;
		} 
		// toggles
		button {
			background-color: transparent;
			margin-right: 8px;
			padding: 0;
		}
		.toggle {
			position: absolute;
			right: 0;
			height: 100%;
			width: 70px;
			cursor: pointer;
			user-select: none;
			top: 50%;
			transform: translate3d(0, -50%, 0);
			&.on {
				span {
					transform: translate3d(0, -50%, 0);
				}
			}
			&.inline {
				border-radius: 2em;
				padding: 2px;
				width: 36px;
				height: 14px;
			}
			&.outline {
				width: 50px;
				height: 26px;
				border: 0.5px solid #ddd;
				border-radius: 2em;
				span {
					width: 22px;
					height: 22px;
				}
			}
			&.gooey-inline {
				height: 8px;
				width: 45px;
				box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
				filter: url("#gooey");
				span {
					box-shadow: none;
					left: 20px;
				}
				&.on {
					span {
						animation: switchOn 250ms linear forwards;
					}
				}
				&.off {
					span {
						animation: switchOff 250ms linear forwards;
					}
				}
			}
			&.gooey-outline {
				border: none;
				&.on {
					span {
						animation: gooeyOutlineOn .5s linear forwards;
					}
				}
				&.off {
					span {
						animation: gooeyOutlineOff .5s linear forwards;
					}
				}
			}
			&.value-toggle{
				width: 110px;
				background-color: #ddd;
				border-radius: 45px;
				overflow: hidden;
				transition: all .3s ease;
				height: 80%;
				box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
				.value-container{
					position: relative;
					display: inline-block;
					width: 50%;
					height: 100%;
					letter-spacing: 1px;
					text-align: center;
					font-size: 20px;
					font-weight: 500;
					p{
						margin: 0px;
						position: relative;
						top: 50%;
						transform: translateY(-50%);
						transition: all .3s ease;
					}
				}
				.value-overlay{
					position: absolute;
					width: 50%;
					height: 100%;
					top: 0;
					left: 50%;
					border-radius: 45px;
					transition: all .3s ease;
					box-shadow: inset 0px 0px 10px 4px rgb(255 255 255 / 50%), inset 0px 0px 10px 4px rgb(208 216 227 / 50%);
				}
				&.on{
					.value-overlay{
						transform: translateX(0%);
					}
				}
				&.off{
					.value-overlay{
						transform: translateX(-100%);
					}
				}
			}
		}
		span {
			position: absolute;
			top: 50%;
			transform: translate3d(-100%, -50%, 0);
			width: 20px;
			height: 20px;
			border-radius: 50%;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
			transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		} // labels
		.label-container {
			position: absolute;
			width: calc(100% - 70px);
			height: 100%;
			text-align: left;
			left: 0;
			p {
				position: absolute;
				width: 100%;
				margin: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				transform: translateY(-50%);
			}
			.title {
				user-select: none;
				top: calc(50% - 10px);
				font-size: 1.1em;
			}
			.subtitle {
				user-select: none;
				top: calc(50% + 10px);
				font-size: 13px;
				line-height: 20px;
			}
			&.title-only {
				.title {
					top: 50%;
				}
			}
			&.value-toggle{
				width: calc(100% - 110px);
			}
		}
		// neumorph
		&.NM-IN-toggle,
		&.NM-IN-toggle-outline,
		&.NM-IN-gooey-outline{
			&.dark{
				.toggle{
					background: var(--primary-dark) !important;
					border: var(--neumorph-border-dark) !important;
				}
			}
			&.dark-alternative{
				.toggle{
					background: var(--primary-dark-alternatve) !important;
					border: var(--neumorph-border-dark-alternatve) !important;
				}
			}
			&.bright{
				.toggle{
					background: var(--primary-bright) !important;
					border: var(--neumorph-border-bright) !important;
				}
			}
		}
		&.NM-OUT-toggle,
		&.NM-OUT-toggle-outline,
		&.NM-OUT-gooey-outline{
			&.dark{
				.toggle{
					border: var(--neumorph-border-dark) !important;
				}
			}
			&.dark-alternative{
				.toggle{
					border: var(--neumorph-border-dark-alternatve) !important;
				}
			}
			&.bright{
				.toggle{
					border: var(--neumorph-border-bright) !important;
				}
			}
		}
		&.NM-IN-toggle,
		&.NM-IN-toggle-outline,
		&.NM-IN-gooey-outline{
			&.dark{
				.toggle{
					box-shadow: var(--neumorph-in-dark) !important;
				}
			}
			&.dark-alternative{
				.toggle{
					box-shadow: var(--neumorph-in-dark-alternative) !important;
				}
			}
			&.bright{
				.toggle{
					box-shadow: var(--neumorph-in-bright) !important;
				}
			}
		}
		&.NM-OUT-toggle,
		&.NM-OUT-toggle-outline,
		&.NM-OUT-gooey-outline{
			&.dark{
				.toggle{
					box-shadow: var(--neumorph-small-out-dark) !important;
				}
			}
			&.dark-alternative{
				.toggle{
					box-shadow: var(--neumorph-small-out-dark-alternative) !important;
				}
			}
			&.bright{
				.toggle{
					box-shadow: var(--neumorph-small-out-bright) !important;
				}
			}
		}
		// allow line breakes
		&.allow-break{
			button,
			.label-container{
				display: inline;
			}
			.label-container{
				position: relative;
				p{
					top: 0;
					position: relative;
					transform: translateY(0px);
					width: calc(100% - 70px);
				}
				.subtitle{
					white-space: initial;
					line-height: 15px;
					margin-top: 2px;
					margin-bottom: 5px;
				}
			}
		}
	} 
	// Animations
	@keyframes switchOn {
		0% {
			transform: scale3d(1, 1, 1) translate3d(-15px, -50%, 0);
			transform-origin: left center;
		}
		40% {
			transform: scale3d(1.4, 0.7, 0) translate3d(-5px, -50%, 0);
			transform-origin: right center;
		}
		70% {
			transform: scale3d(0.9, 1.15, 1) translate3d(25px, -50%, 0);
		}
		100% {
			transform: scale3d(1, 1, 1) translate3d(10px, -50%, 0);
		}
	}
	@keyframes switchOff {
		0% {
			transform: scale3d(1, 1, 1) translate3d(15px, -50%, 0);
			transform-origin: right center;
		}
		40% {
			transform: scale3d(1.4, 0.7, 0) translate3d(5px, -50%, 0);
			transform-origin: right center;
		}
		70% {
			transform: scale3d(0.9, 1.15, 1) translate3d(-25px, -50%, 0);
		}
		100% {
			transform: scale3d(1, 1, 1) translate3d(-20px, -50%, 0);
		}
	}
	@keyframes gooeyOutlineOff {
		0% {
			border-radius: 50%;
			width: 22px;
			transform: translate3d(0%, -50%, 0);
		}
		20%,50% {
			width: 44px;
			border-radius: 2em;
			transform: translate3d(-50%, -50%, 0);
		}
		100%{
			width: 22px;
			border-radius: 50%;
			transform: translate3d(-100%, -50%, 0);
		}
	}
	@keyframes gooeyOutlineOn {
		0% {
			transform: translate3d(-100%, -50%, 0);
			width: 22px;
			border-radius: 50%;
		}
		20%,50% {
			transform: translate3d(-50%, -50%, 0);
			width: 44px;
			border-radius: 2em;
		}
		100%{
			transform: translate3d(0%, -50%, 0);
			width: 22px;
			border-radius: 50%;
		}
	}
}