:host{
	.button{
		width: inherit;
		height: inherit;
		box-shadow: 0 2px 8px 0 rgba(0,0,0,.05), 0 4px 8px 0 rgba(0,0,0,.05), 0 1px 2px 0 rgba(0,0,0,.05);
		transition: all .2s ease;
		pointer-events: all;
		cursor: pointer;
		icon{
			position: absolute;
			top: 50%;
			right: 8px;
			transform: translateY(-50%);
			transition: all .2s ease;
			&.icon-only{
				width: 95% !important;
				height: 95% !important;
				left: 50%;
				right: 0;
				transform: translate(-50%, -50%);
			}
		}
		.label{
			font-size: 16px;
			position: absolute;
			left: 8px;
			top: 50%;
			transform: translate3d(0,-50%,0);
			margin: 0;
			font-weight: 600;
			text-align: left;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&:active{
			box-shadow: 0 0px 0px 0 rgba(0,0,0,.05), 0 0px 0px 0 rgba(0,0,0,.05), 0 0px 0px 0 rgba(0,0,0,.05);
		}
		// neumorph
		&.NM-IN-standard,
		&.NM-OUT-standard{
			&.dark{
				background: var(--primary-dark) !important;
				border: var(--neumorph-border-dark);
			}
			&.dark-alternative{
				background: var(--primary-dark-alternative) !important;
				border: var(--neumorph-border-dark-alternative);
			}
			&.bright{
				background: var(--primary-bright) !important;
				border: var(--neumorph-border-bright);
			}
		}
		// neumorph in
		&.NM-IN-standard{
			&.dark{
				box-shadow: var(--neumorph-in-dark) !important;
				&:active{
					box-shadow: var(--neumorph-out-dark) !important;
				}
			}
			&.dark-alternative{
				box-shadow: var(--neumorph-in-dark-alternative) !important;
				&:active{
					box-shadow: var(--neumorph-out-dark-alternative) !important;
				}
			}
			&.bright{
				box-shadow: var(--neumorph-in-bright) !important;
				&:active{
					box-shadow: var(--neumorph-out-bright) !important;
				}
			}
		}
		// neumorph out
		&.NM-OUT-standard{
			&.dark{
				box-shadow: var(--neumorph-out-dark) !important;
				&:active{
					box-shadow: var(--neumorph-in-dark) !important;
				}
			}
			&.dark-alternative{
				box-shadow: var(--neumorph-out-dark-alternative) !important;
				&:active{
					box-shadow: var(--neumorph-in-dark-alternative) !important;
				}
			}
			&.bright{
				box-shadow: var(--neumorph-out-bright) !important;
				&:active{
					box-shadow: var(--neumorph-in-bright) !important;
				}
			}
		}
	}
}