:host{
	.context-menu-container{
		.context-menu{
			user-select: none;
			position: fixed;
			z-index: 1100;
			margin: 0;
			padding-top: 10px;
			width: 165px;
			min-height: 35px;
			list-style: none;
			border-radius: 15px;
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
			text-align: left;
			// overflow: hidden;
			will-change: transform;
			.block{
				padding-left: 5px;
				padding-right: 5px;
				margin-bottom: 5px;
				&.border{
					border-bottom: 1px solid rgb(221 221 221 / 20%);
				}
				.header{
					margin-top: 0px;
					margin-bottom: 0px;
					font-weight: 600;
					line-height: 25px;
					padding-left: 5px;
				}
				.inner,
				.inner-expand{
					// block click
					&.block-tappable{
						pointer-events: none;
						opacity: 0.3;
					}
					&.tappable{
						pointer-events: all;
						opacity: 1;
					}
				}
				.inner{
					position: relative;
					width: 100%;
					height: 35px;
					background: transparent;
					transition: background .2s ease;
					icon,
					ion-icon{
						position: absolute;
						width: 25px;
						height: 25px;
						left: 5px;
						top: 50%;
						transform: translateY(-50%);
						&.opacity{
							opacity: 0.5;
						}
						&.smaller{
							height: 20px;
						}
						&.arrow{
							left: calc(100% - 25px);
						}
					}
					p{
						position: absolute;
						text-align: left;
						left: 35px;
						width: calc(100% - 40px);
						margin: 0;
						top: 50%;
						transform: translateY(-50%);
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						line-height: 30px;
					}
				}
				.inner-expand{
					position: relative;
					.inner{
						z-index: 2;
					}
					.expand{
						position: absolute;
						top: 0%;
						width: 100%;
						border-radius: 15px;
						box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.4);
						opacity: 0;
						z-index: 1;
						transition: 0.2s ease;
						pointer-events: none;
						padding-bottom: 5px;
						padding-top: 5px;
						perspective: 1000px;
						will-change: transform, opacity;
						&.show{
							opacity: 1;
							pointer-events: all;
							z-index: 3;
						}
						.file-input{
							display: none;
						}
					}
				}
			}
			&.desktop{
				.inner:hover{
					background: rgb(255 255 255 / 20%);
				}
			}
		}
		// dropdown menu position
		&.left{
			.expand{
				transform-origin: right;
				transform: translateX(-100%) rotateY(90deg);
				&.show{
					transform: translateX(-100%) rotateY(0deg);
				}
			}
		}
		&.right{
			.expand{
				transform-origin: left;
				transform: translateX(100%) rotateY(90deg);
				&.show{
					transform: translateX(100%) rotateY(0deg);
				}
			}
		}
	}
	picker{
		h2{
			margin: 0;
		}
		.details{
			padding: 16px;
		}
	}
	.qr{
		.qr-code{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.config-data{
		.head{
			font-size: 1.2em;
			margin-top: 0;
		}
		p{
			margin-bottom: 15px;
			&.head{
				margin-top: 10px;
			}
			&.text{
				margin-bottom: 5px;
			}
			&.des{
				margin-top: 0px;
			}
		}
		.key,
		.value{
			display: inline-block;
		}
		.key{
			width: 120px;
		}
		.value{
			width: calc(100% - 130px);
		}
		.user-attr{
			position: relative;
			background: transparent;
			resize: none;
			border: none;
			width: 100%;
			user-select: all;
		}
		.details-row{
			margin-bottom: 10px;
		}
		textarea{
			min-height: 70px;
			border: 1px solid rgb(255 255 255 / 30%) !important;
			padding: 8px;
		}
	}
}