:host {
	.settings-container {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		ion-header {
			ion-icon {
				font-size: 25px;
				position: absolute;
				top: 50%;
			}
			.back-btn {
				width: 50px;
				height: 56px;
				left: 25%;
				background-color: transparent;
				padding: 0;
				position: absolute;
				left: 0;
				top: 0;
				ion-icon {
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.code {
				left: 45px;
				transform: translateY(-50%);
			}
		}
		ion-title {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 65px;
		}
	}
	.content {
		position: relative;
		height: calc(100% - 56px);
		width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 8px;
		user-select: none;
		&.full-height {
			height: 100%;
		}
		.settings-block {
			position: relative;
			width: 100%;
			margin-bottom: 10px;
			border-bottom: 1px solid #565656;
			&.no-border {
				border-bottom: 0px;
			}
		}
		.select-box {
			width: 100%;
			position: relative;
			&.border{
				border-bottom: 2px solid #757575;
			}
		}
		.category {
			position: relative;
			width: 100%;
			padding-left: 8px;
			padding-right: 8px;
			margin-bottom: 10px;
			&.border{
				border-bottom: 1px solid #757575;
			}
			&.border-round{
				border-radius: 5px;
				border: 2px dotted #ddd;
				selector{
					margin-bottom: 8px;
					display: block;
				}
			}
			.label {
				margin-bottom: 5px;
				margin-top: 5px;
				font-weight: 500;
			}
			.des {
				margin-top: -2px;
				margin-bottom: 5px;
				font-size: 13px;
				&.limit-size{
					width: calc(100% - 45px);
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
			.def-preview{
				font-size: 16px;
				margin-bottom: 20px;
				margin-top: 20PX;
				user-select: all;
			}
			button.add-btn {
				top: 0;
				position: absolute;
				right: 8px;
			}
			&.btn-full-category {
				button {
					width: 100%;
					height: 40px;
					text-transform: uppercase;
					color: #fff;
					font-size: 1.1em;
					margin-bottom: 10px;
					&.no-margin{
						margin-bottom: 0px;
					}
					&.save {
						background: var(--btn-green);
					}
					&.cancel {
						background: var(--btn-red);
					}
				}
			}
			&.multi-btn {
				margin-bottom: 0px;
				position: relative;
				p {
					width: 100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.row{
					position: relative;
					width: calc(100% - 150px);
					height: 35px;
					.label-def-syntax,
					.label-value-preview{
						position: absolute;
						width: 50%;
						left: 0;
						line-height: 35px;
					}
					.label-def-syntax{
						user-select: all;
						margin-bottom: 0px;
					}
					.label-value-preview{
						left: 50%;
					}
					.label-container{
						position: absolute;
						top: 0px;
						width: 100%;
						height: 35px;
						left: 0px;
						.label{
							margin-top: 0;
							margin-bottom: 0;
						}
						.des{
							margin-top: 0px;
						}
					}
				}
				.button-container {
					width: 150px;
					height: 100%;
					position: absolute;
					right: 8px;
					top: 50%;
					transform: translateY(-50%);
					button {
						top: 50%;
						transform: translateY(-50%);
						margin-left: 5px;
						&.trash {
							ion-icon {
								color: var(--btn-red);
							}
						}
						&.edit {
							ion-icon {
								color: var(--btn-blue);
							}
						}
					}
				}
			}
			.preview-container{
				position: relative;
				width: 100%;
				max-height: 100px;
				min-height: 50px;
				margin-bottom: 10px;
				border-top: 2px dotted #ddd;
				margin-top: 10px;
				.btn-round{
					z-index: 0;
				}
				.label{
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					width: 110px;
				}
				.preview-label{
					left: 115px;
					position: relative;
					width: calc(100% - 170px);
					margin-top: 5px;
					margin-bottom: 5px;
					max-height: 100px;
					overflow-y: auto;
				}
				button{
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					ion-icon {
						color: var(--btn-blue);
					}
				}
			}
		}
		input {
			font-size: 18px;
			padding: 10px 10px 10px 5px;
			display: block;
			width: 100%;
			border: none;
			background: transparent;
			border-bottom: 1px solid #757575;
			color: #757575;
			user-select: all;
			&:focus {
				outline: none;
			}
		}
		.bar {
			position: relative;
			display: block;
			width: 100%;
			&:before, &:after {
				content: '';
				height: 2px;
				width: 0;
				bottom: 1px;
				position: absolute;
				background: var(--btn-blue);
				transition: 0.2s ease all;
			}
			&:before {
				left: 50%;
			}
			&:after {
				right: 50%;
			}
		}
		input:focus~.bar:before, input:focus~.bar:after {
			width: 50%;
		}
	}
}