<div class="settings-container">
 	<ion-header colorizer [theme]="settings.app.theme" [style]="['background', 'primary']">
		<ion-toolbar>
			<button class="back-btn" (click)="closeVariables()" matRipple [matRippleColor]="'#d4d4d480'">
			    <ion-icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']" name="arrow-back-outline"></ion-icon>
			</button>
			<ion-icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']" icon="code-slash" class="code"></ion-icon>
			<ion-title colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'GENERAL.VARIABLES.TITLE' | translate }}</ion-title>
		</ion-toolbar>
	</ion-header>
	<div class="content" colorizer [theme]="settings.app.theme" [style]="['background', 'primary']">
		<!-- create variable -->
		<div class="select-box">
			<div class="select-box border">
				<div class="category btn">
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.VARIABLES.CREATE_VARIABLE.TITLE' | translate }}</p>
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des limit-size">{{ 'GENERAL.VARIABLES.CREATE_VARIABLE.INFO' | translate }}</p>
					<button
						colorizer [theme]="settings.app.theme" [style]="['background', 'primary']"
						matRipple [matRippleColor]="'#d4d4d480'" class="add-btn btn-round" (click)="openMenu('createVariable')">
						<span class="line top"></span>
						<span class="line bottom"></span>
					</button>
				</div>
			</div>
			<!-- Variable List -->
			<ng-container *ngIf="variable.variables">
				<div class="category multi-btn border" *ngFor="let variable of variable.variables; let i = index;">
					<div class="row">
						<div class="label-container">
							<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ variable.name }}</p>
							<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ variable.description }}</p>
						</div>
					</div>
					<div class="row">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label-def-syntax">{{ variable.defSyntax }}</p>
						<p  *ngIf="variable.hasOwnProperty('modValue')"
							colorizer [theme]="settings.app.theme" [style]="['color', 'text']" 
							class="label-value-preview">{{variable.modValue}}
						</p>
					</div>
					<div class="button-container">
						<button 
							colorizer [theme]="settings.app.theme" [style]="['background', 'primary']"
							class="btn-round trash" matRipple [matRippleColor]="'#d4d4d480'" (click)="removeVariable(i)">
							<ion-icon name="trash"></ion-icon>
						</button>
						<button 
							colorizer [theme]="settings.app.theme" [style]="['background', 'primary']"
							class="btn-round edit" matRipple [matRippleColor]="'#d4d4d480'" (click)="configVariable(i)">
						    <ion-icon name="build"></ion-icon>
						</button>
						<button 
							colorizer [theme]="settings.app.theme" [style]="['background', 'primary']"
							class="btn-round edit" matRipple [matRippleColor]="'#d4d4d480'" (click)="editVariable(i)">
							<ion-icon name="create"></ion-icon>
						</button>
					</div>
				</div>
			</ng-container>
		</div>
		<!-- Variable creation Menu -->
		<popup
			[(ngModel)]="menus.createVariable"
			[width]="90"
			[height]="90"
			(onClose)="closeMenu()">
			<div header>
				<h1 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
					{{selectedVariable !== null ? ( 'GENERAL.VARIABLES.EDIT_VARIABLE.TITLE' | translate ) : ( 'GENERAL.VARIABLES.CREATE_VARIABLE.TITLE' | translate )}}
				</h1>
			</div>
			<div body class="content full-height">
				<div class="settings-block no-border">
					<!-- variable name -->
					<div class="category">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.VARIABLES.CREATE_VARIABLE.NAME.TITLE' | translate }}</p>
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.VARIABLES.CREATE_VARIABLE.NAME.INFO' | translate }}</p>
						<input class="inp" [(ngModel)]="variableInfo.name" placeholder="{{variableInfo.name}}">
				   		<span class="bar"></span>
					</div>
					<!-- variable description -->
					<div class="category">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.VARIABLES.CREATE_VARIABLE.DES.TITLE' | translate }}</p>
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.VARIABLES.CREATE_VARIABLE.DES.INFO' | translate }}</p>
						<input class="inp" [(ngModel)]="variableInfo.description" placeholder="{{variableInfo.description}}">
			    		<span class="bar"></span>
					</div>
				</div>
				<!-- preview container -->
				<div class="settings-block no-border" *ngIf="variableInfo.name">
					<div class="category">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.VARIABLES.CREATE_VARIABLE.PREVIEW.TITLE' | translate }}</p>
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.VARIABLES.CREATE_VARIABLE.PREVIEW.INFO' | translate }}</p>
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="def-preview">{{getVariableSyntax(variableInfo.name)}}</p>
					</div>
				</div>
				<!-- save/cancel -->
				<div class="settings-block no-border">
					<div class="category btn-full-category">
						<button class="save" matRipple [matRippleColor]="'#d4d4d480'" (click)="save()">{{ 'GENERAL.BUTTONS.SAVE' | translate }}</button>
						<button class="cancel" matRipple [matRippleColor]="'#d4d4d480'" (click)="menus.createVariable = false">{{ 'GENERAL.BUTTONS.CANCEL' | translate }}</button>
					</div>
				</div>
			</div>
		</popup>
		<!-- Task Config Popup -->
		<popup 
			[(ngModel)]="menus.configureVariable"
			[width]="100"
			[height]="100"
			(onClose)="closeMenu()">
			<div header *ngIf="menus.configureVariable">
				<h1 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
					{{ ('GENERAL.VARIABLES.CONFIG_VARIABLE.TITLE' | translate) +': '+ variable.storageVariables[selectedVariable].defSyntax }}
				</h1>
			</div>
			<div body class="content full-height" *ngIf="menus.configureVariable">
				<!-- variable type selection -->
				<div class="category border-round">
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.VARIABLES.CREATE_VARIABLE.TYPE.TITLE' | translate }}</p>
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.VARIABLES.CREATE_VARIABLE.TYPE.INFO' | translate }}</p>
					<selector
						[items]="['static', 'dynamic']"
						[searchable]="false"
						[(ngModel)]="variable.storageVariables[selectedVariable].attributes.type"
						(onValueChange)="getAvailableInputs($event, true)">
					</selector>
				</div>
				<!-- select input -->
				<div class="category border-round" *ngIf="inputOptions.length > 0">
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.VARIABLES.CONFIG_VARIABLE.SELECT_INPUT.TITLE' | translate }}</p>
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.VARIABLES.CONFIG_VARIABLE.SELECT_INPUT.INFO' | translate }}</p>
					<selector
						[items]="inputOptions"
						[searchable]="false"
						bindLabel="name"
						bindValue="name"
						[(ngModel)]="variable.storageVariables[selectedVariable].attributes.inputOption.name"
						(onValueChange)="updateInput($event)">
					</selector>
					<!-- select input parameters -->
					<ng-container *ngIf="variable.storageVariables[selectedVariable].attributes.inputOption.inputs">
						<div class="category" *ngFor="let input of variable.storageVariables[selectedVariable].attributes.inputOption.inputs">
							<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ input.variable }}</p>
							<div class="inp">
								<input class="inp" [(ngModel)]="input.value" placeholder="{{input.value}}">
			    				<span class="bar"></span>
							</div>
						</div>
					</ng-container>
					<!-- input result preview -->
					<div class="preview-container">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.VARIABLES.CONFIG_VARIABLE.PREVIEW' | translate }}</p>
						<p *ngIf="previews.inputValue" colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="preview-label">{{previews.inputValue}}</p>
						<button 
							(click)="previewValue('input')"
							colorizer [theme]="settings.app.theme" [style]="['background', 'primary']"
							class="btn-round edit" matRipple [matRippleColor]="'#d4d4d480'">
							<ion-icon name="refresh"></ion-icon>
						</button>
					</div>
				</div>
				<!-- update options -->
				<div class="category border-round" *ngIf="updateOptions.length > 0">
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.VARIABLES.CONFIG_VARIABLE.SELECT_UPDATER.TITLE' | translate }}</p>
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.VARIABLES.CONFIG_VARIABLE.SELECT_UPDATER.INFO' | translate }}</p>
					<selector
						[items]="updateOptions"
						[searchable]="false"
						bindLabel="name"
						bindValue="name"
						[(ngModel)]="variable.storageVariables[selectedVariable].attributes.updateOption.name"
						(onValueChange)="updateUpdater($event, true)">
					</selector>
					<selector 
						*ngIf="updateSelectionOptions.length > 0"
						[items]="updateSelectionOptions"
						[searchable]="false"
						[(ngModel)]="variable.storageVariables[selectedVariable].attributes.updateOption.value">
					</selector>
				</div>
				<!-- regex -->
				<div class="category border-round" *ngIf="regexOptions.length > 0">
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.VARIABLES.CONFIG_VARIABLE.SELECT_REGEX.TITLE' | translate }}</p>
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.VARIABLES.CONFIG_VARIABLE.SELECT_REGEX.INFO' | translate }}</p>
					<selector
						[items]="regexOptions"
						[searchable]="false"
						bindLabel="name"
						bindValue="name"
						[(ngModel)]="variable.storageVariables[selectedVariable].attributes.regexOption.name"
						(onValueChange)="updateRegex($event, true)">
					</selector>
					<!-- regex parmans -->
					<selector
						*ngIf="updateRegexOptions.length > 0 && updateRegexOptions[0] !== 'input'"
						[items]="updateRegexOptions"
						[searchable]="false"
						[(ngModel)]="variable.storageVariables[selectedVariable].attributes.regexOption.value">
					</selector>
					<!-- manual regex -->
					<div class="inp" *ngIf="updateRegexOptions[0] === 'input'">
						<input class="inp" 
						[(ngModel)]="variable.storageVariables[selectedVariable].attributes.regexOption.value" 
						placeholder="{{variable.storageVariables[selectedVariable].attributes.regexOption.value}}">
			    		<span class="bar"></span>
					</div>
					<!-- regex result preview -->
					<div class="preview-container">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.VARIABLES.CONFIG_VARIABLE.PREVIEW' | translate }}</p>
						<p *ngIf="previews.regexValue" colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="preview-label">{{previews.regexValue}}</p>
						<button 
							(click)="previewValue('regex')"
							colorizer [theme]="settings.app.theme" [style]="['background', 'primary']"
							class="btn-round edit" matRipple [matRippleColor]="'#d4d4d480'">
							<ion-icon name="refresh"></ion-icon>
						</button>
					</div>
				</div>
				<!-- save/cancel -->
				<div class="settings-block no-border">
					<div class="category btn-full-category">
						<button class="save" matRipple [matRippleColor]="'#d4d4d480'" (click)="saveVariableConfig()">{{ 'GENERAL.BUTTONS.SAVE' | translate }}</button>
						<button class="cancel no-margin" matRipple [matRippleColor]="'#d4d4d480'" (click)="menus.configureVariable = false">{{ 'GENERAL.BUTTONS.CANCEL' | translate }}</button>
					</div>
				</div>
			</div>
		</popup>
	</div>
</div>