:host {
    .settings-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        ion-header {
            ion-icon {
                font-size: 25px;
                position: absolute;
                top: 50%;
            }
            .back-btn {
                width: 50px;
                height: 56px;
                left: 25%;
                background-color: transparent;
                padding: 0;
                position: absolute;
                left: 0;
                top: 0;
                ion-icon {
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .cog {
                left: 45px;
                transform: translateY(-50%);
            }
        }
        ion-title {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 65px;
        }
    }
    .content {
        position: relative;
        height: calc(100% - 56px);
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 8px;
        user-select: none;
        &.full-height{
        	height: 100%;
        }
        &.changelog{
        	.des.NEW{
				color: var(--btn-blue);
			}
			.des.FIX{
				color: var(--btn-green);
			}
			.des.DEL{
				color: var(--btn-red);
			}
        }
        .settings-block {
            position: relative;
            width: 100%;
            margin-bottom: 10px;
            border-bottom: 1px solid #565656;
            &.no-border{
            	border-bottom: 0px;
            }
            .block-label {
                font-weight: 600;
                font-size: 1.1em;
            }
            .category {
                position: relative;
                width: 100%;
                padding-left: 8px;
                padding-right: 8px;
                margin-bottom: 10px;
                .label {
                    margin-bottom: 5px;
                    margin-top: 5px;
                    font-weight: 500;
                }
                .des {
                    margin-top: -2px;
                    margin-bottom: 5px;
                    font-size: 13px;
                }
                &.btn-category {
                    .btn-container, ion-select {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 8px;
                        width: 90px;
                    }
                    .btn-container {
                        .btn-round {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            position: relative;
                            margin-right: 5px;
                            background: var(--btn-blue);
                        }
                        ion-icon {
                            font-size: 25px;
                            color: #fff;
                        }
                    }
                    p {
                        width: calc(100% - 90px);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &.single {
                        .btn-container {
                            width: 50px;
                        }
                        p {
                            width: calc(100% - 50px);
                        }
                    }
                }
                &.btn-full-category {
                    button {
                        width: 300px;
                        height: 40px;
                        background: var(--btn-blue);
                        text-transform: uppercase;
                        color: #fff;
                        font-size: 1.1em;
                    }
                }
                &.btn-full-size{
                	button{
                		width: 100%;
                		height: 40px;
                		background: transparent;
                		text-align: left;
    					font-size: 1.1em;
                        &.no-height{
                            height: auto;
                        }
                	}
                }
            }
        }
    } // custom color sheme
    .page {
        .background {
            position: absolute;
            width: 95%;
            height: 100%;
            top: 0;
            left: 0;
            .block {
                width: 95%;
                height: 85%;
                position: absolute;
                top: 50px;
                left: 5%;
                border-radius: 20px;
                box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
                &.transparent {
                    background: transparent !important;
                    box-shadow: none;
                }
                .change-color-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 35px;
                    .selected-color {
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: 1px solid #e1ecf3;
                    }
                    p {
                        color: #e1ecf3;
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                        left: 50px;
                    }
                    .select {
                        position: absolute;
                        right: 0;
                        width: 150px;
                        .color {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                        }
                        .color-label {
                            display: inline-block;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}
// resize buttons
@media only screen and (max-width: 450px) {
    .content .settings-block .category.btn-full-category button{
        width: 100% !important;
    }
}