 <div class="settings-container">
 	 <ion-header colorizer [theme]="settings.app.theme" [style]="['background', 'primary']">
		<ion-toolbar>
			<button class="back-btn" (click)="closeSettings()" matRipple [matRippleColor]="'#d4d4d480'">
			    <ion-icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']" name="arrow-back-outline"></ion-icon>
			</button>
			<ion-icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']" icon="cog" class="cog"></ion-icon>
			<ion-title colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'GENERAL.SETTINGS.TITLE' | translate }}</ion-title>
		</ion-toolbar>
	</ion-header>
	<div class="content" colorizer [theme]="settings.app.theme" [style]="['background', 'primary']">
		<!-- FHEM settings -->
		<div class="settings-block">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="block-label">{{ 'GENERAL.SETTINGS.FHEM.TITLE' | translate }}</p>
			<!-- Websocket settings -->
			<div class="category btn-category single">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.FHEM.WEBSOCKET.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.FHEM.WEBSOCKET.INFO' | translate }}</p>
				<div class="btn-container">
					<button 
						class="btn-round" (click)="toggleConnectionSettings()" 
						matRipple [matRippleColor]="'#d4d4d480'">
						<ion-icon name="create"></ion-icon>
					</button>
				</div>
			</div>
			<!-- Settings Export -->
			<div class="category btn-category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.FHEM.EXPORT.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.FHEM.EXPORT.INFO' | translate }}</p>
				<div class="btn-container">
					<button 
						class="btn-round" (click)="share('local')" 
						matRipple [matRippleColor]="'#d4d4d480'">
						<ion-icon name="download"></ion-icon>
					</button>
					<button 
						class="btn-round" (click)="share('common')" 
						matRipple [matRippleColor]="'#d4d4d480'">
						<ion-icon name="share"></ion-icon>
					</button>
				</div>
			</div>
			<!-- Settings Import -->
			<div class="category btn-category single">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.FHEM.IMPORT.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.FHEM.IMPORT.INFO' | translate }}</p>
				<div class="btn-container">
					<button 
						class="btn-round" (click)="importSettings()" 
						matRipple [matRippleColor]="'#d4d4d480'">
						<ion-icon name="create"></ion-icon>
					</button>
				</div>
			</div>
			<!-- Connection loader -->
			<div class="category btn-category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.FHEM.LOAD_WHICH_DEVICES.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.FHEM.LOAD_WHICH_DEVICES.INFO' | translate }}</p>
				<ion-select 
					[interfaceOptions]="{cssClass: 'wider-btns'}"
					colorizer [theme]="settings.app.theme" [style]="['color', 'text']"
					[okText]="'GENERAL.BUTTONS.CONFIRM' | translate" [cancelText]="'GENERAL.BUTTONS.CANCEL' | translate"
					[(ngModel)]="settings.app.fhemDeviceLoader" (ionChange)="changeAppSetting('fhemDeviceLoader', $event.detail.value)">
					<ion-select-option value="All">{{ 'GENERAL.SETTINGS.FHEM.LOAD_WHICH_DEVICES.OPTIONS.ALL' | translate }}</ion-select-option>
					<ion-select-option value="Component">{{ 'GENERAL.SETTINGS.FHEM.LOAD_WHICH_DEVICES.OPTIONS.Component' | translate }}</ion-select-option>
				</ion-select>
			</div>
		</div>
		<!-- App settings -->
		<div class="settings-block">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="block-label">{{ 'GENERAL.SETTINGS.APP.TITLE' | translate }}</p>
			<!-- App Theme -->
			<div class="category btn-category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.APP.THEME.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.APP.THEME.INFO' | translate }}</p>
				<ion-select 
					colorizer [theme]="settings.app.theme" [style]="['color', 'text']"
					[okText]="'GENERAL.BUTTONS.CONFIRM' | translate" [cancelText]="'GENERAL.BUTTONS.CANCEL' | translate"
					[(ngModel)]="settings.app.theme" (ionChange)="changeAppSetting('theme', $event.detail.value)">
					<ion-select-option value="dark">{{ 'GENERAL.SETTINGS.APP.THEME.OPTIONS.DARK' | translate }}</ion-select-option>
					<ion-select-option value="dark-alternative">{{ 'GENERAL.SETTINGS.APP.THEME.OPTIONS.DARK_ALTERNATIVE' | translate }}</ion-select-option>
					<ion-select-option value="bright">{{ 'GENERAL.SETTINGS.APP.THEME.OPTIONS.BRIGHT' | translate }}</ion-select-option>
					<ion-select-option value="custom">{{ 'GENERAL.SETTINGS.APP.THEME.OPTIONS.CUSTOM' | translate }}</ion-select-option>
				</ion-select>
			</div>
			<!-- Color Theme -->
			<div class="category btn-category single" *ngIf="settings.app.theme === 'custom'">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">Custom {{ 'GENERAL.SETTINGS.APP.THEME.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">Custom {{ 'GENERAL.SETTINGS.APP.THEME.INFO' | translate }}</p>
				<div class="btn-container">
					<button 
						class="btn-round" (click)="changeMenuMode('customAppTheme')" 
						matRipple [matRippleColor]="'#d4d4d480'">
						<ion-icon name="create"></ion-icon>
					</button>
				</div>
			</div>
			<!-- Language -->
			<div class="category btn-category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.APP.LANGUAGE.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.APP.LANGUAGE.INFO' | translate }}</p>
				<ion-select 
					colorizer [theme]="settings.app.theme" [style]="['color', 'text']"
					[okText]="'GENERAL.BUTTONS.CONFIRM' | translate" [cancelText]="'GENERAL.BUTTONS.CANCEL' | translate"
					[(ngModel)]="settings.app.language" (ionChange)="changeAppSetting('language', $event.detail.value); translate.use(settings.app.language);">
					<ion-select-option value="en">{{ 'GENERAL.SETTINGS.APP.LANGUAGE.OPTIONS.EN' | translate }}</ion-select-option>
					<ion-select-option value="de">{{ 'GENERAL.SETTINGS.APP.LANGUAGE.OPTIONS.DE' | translate }}</ion-select-option>
				</ion-select>
			</div>
			<!-- Edit Rooms -->
			<div class="category switch-category">
				<switch
					[padding]="false"
					[(ngModel)]="settings.app.enableEditing"
					[label]="'GENERAL.SETTINGS.APP.EDITING.TITLE' | translate"
					[subTitle]="'GENERAL.SETTINGS.APP.EDITING.INFO' | translate"
					(onToggle)="changeAppSetting('enableEditing', $event)">
				</switch>
			</div>
			<!-- Undo/Redo -->
			<div class="category switch-category">
				<switch
					[padding]="false"
					[(ngModel)]="settings.app.enableUndoRedo"
					[label]="'GENERAL.SETTINGS.APP.UNDO_REDO.TITLE' | translate"
					[subTitle]="'GENERAL.SETTINGS.APP.UNDO_REDO.INFO' | translate"
					(onToggle)="changeAppSetting('enableUndoRedo', $event)">
				</switch>
			</div>
			<!-- Toast Messages -->
			<div class="category switch-category">
				<switch
					[padding]="false"
					[(ngModel)]="settings.app.showToastMessages"
					[label]="'GENERAL.SETTINGS.APP.TOAST.TITLE' | translate"
					[subTitle]="'GENERAL.SETTINGS.APP.TOAST.INFO' | translate"
					(onToggle)="changeAppSetting('showToastMessages', $event)">
				</switch>
			</div>
			<!-- Task Page -->
			<div class="category switch-category">
				<switch
					[padding]="false"
					[(ngModel)]="settings.app.showTasks"
					[label]="'GENERAL.SETTINGS.APP.TASKS.TITLE' | translate"
					[subTitle]="'GENERAL.SETTINGS.APP.TASKS.INFO' | translate"
					(onToggle)="changeAppSetting('showTasks', $event); toggleTasks($event);">
				</switch>
			</div>
			<!-- Update check -->
			<div class="category switch-category">
				<switch
					[padding]="false"
					[(ngModel)]="settings.app.checkUpdates"
					[label]="'GENERAL.SETTINGS.APP.VERSION_CHECK.TITLE' | translate"
					[subTitle]="'GENERAL.SETTINGS.APP.VERSION_CHECK.INFO' | translate"
					(onToggle)="changeAppSetting('checkUpdates', $event)">
				</switch>
			</div>
			<!-- Logger -->
			<div class="category switch-category">
				<switch
					[padding]="false"
					[(ngModel)]="settings.app.enableLog"
					[label]="'GENERAL.SETTINGS.APP.LOG.TITLE' | translate"
					[subTitle]="'GENERAL.SETTINGS.APP.LOG.INFO' | translate"
					(onToggle)="changeAppSetting('enableLog', $event)">
				</switch>
			</div>
			<!-- Log Export -->
			<div class="category btn-category" *ngIf="settings.app.enableLog">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.APP.LOG.EXPORT.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.APP.LOG.EXPORT.INFO' | translate }}</p>
				<div class="btn-container">
					<button 
						class="btn-round" (click)="shareLog('local')" 
						matRipple [matRippleColor]="'#d4d4d480'">
						<ion-icon name="download"></ion-icon>
					</button>
					<button 
						class="btn-round" (click)="shareLog('common')" 
						matRipple [matRippleColor]="'#d4d4d480'">
						<ion-icon name="share"></ion-icon>
					</button>
				</div>
			</div>
		</div>
		<!-- Component settings -->
		<div class="settings-block">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="block-label">{{ 'GENERAL.SETTINGS.COMPONENTS.TITLE' | translate }}</p>
			<!-- Haptic Feedback -->
			<div class="category switch-category">
				<switch
					[padding]="false"
					[(ngModel)]="settings.app.hapticFeedback.enable"
					[label]="'GENERAL.SETTINGS.COMPONENTS.VIBRATION.ENABLE.TITLE' | translate"
					[subTitle]="'GENERAL.SETTINGS.COMPONENTS.VIBRATION.ENABLE.INFO' | translate"
					(onToggle)="changeAppSettingJSON('hapticFeedback', 'enable', $event)">
				</switch>
			</div>
			<!-- Haptic Feedback Duration -->
			<div class="category btn-category" *ngIf="settings.app.hapticFeedback.enable">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.COMPONENTS.VIBRATION.DURATION.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.COMPONENTS.VIBRATION.DURATION.INFO'| translate }}</p>
				<ion-select 
					colorizer [theme]="settings.app.theme" [style]="['color', 'text']"
					[okText]="'GENERAL.BUTTONS.CONFIRM' | translate" [cancelText]="'GENERAL.BUTTONS.CANCEL' | translate"
					[(ngModel)]="settings.app.hapticFeedback.duration" (ionChange)="changeAppSettingJSON('hapticFeedback', 'duration', $event.detail.value)">
					<ion-select-option [value]="0.2">200ms</ion-select-option>
					<ion-select-option [value]="0.5">500ms</ion-select-option>
					<ion-select-option [value]="1">1s</ion-select-option>
					<ion-select-option [value]="2">2s</ion-select-option>
				</ion-select>
			</div>
			<!-- Acustic Feedback -->
			<div class="category switch-category">
				<switch
					[padding]="false"
					[(ngModel)]="settings.app.acusticFeedback.enable"
					[label]="'GENERAL.SETTINGS.COMPONENTS.SOUND.ENABLE.TITLE' | translate"
					[subTitle]="'GENERAL.SETTINGS.COMPONENTS.SOUND.ENABLE.INFO' | translate"
					(onToggle)="changeAppSettingJSON('acusticFeedback', 'enable', $event)">
				</switch>
			</div>
			<!-- Acustic Feedback Sound -->
			<div class="category btn-category" *ngIf="settings.app.acusticFeedback.enable">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.COMPONENTS.SOUND.PATH.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.COMPONENTS.SOUND.PATH.INFO'| translate }}</p>
				<ion-select 
					colorizer [theme]="settings.app.theme" [style]="['color', 'text']"
					[okText]="'GENERAL.BUTTONS.CONFIRM' | translate" [cancelText]="'GENERAL.BUTTONS.CANCEL' | translate"
					[(ngModel)]="settings.app.acusticFeedback.audio" (ionChange)="changeAppSettingJSON('acusticFeedback', 'audio', $event.detail.value); native.playAudio($event.detail.value)">
					<ion-select-option [value]="'1'">1</ion-select-option>
					<ion-select-option [value]="'2'">2</ion-select-option>
					<ion-select-option [value]="'3'">3</ion-select-option>
					<ion-select-option [value]="'4'">4</ion-select-option>
				</ion-select>
			</div>
		</div>
		<!-- Changelog -->
		<div class="settings-block">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="block-label">{{ 'GENERAL.SETTINGS.CHANGELOG.TITLE' | translate }}</p>
			<div class="category btn-full-category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.CHANGELOG.LOG.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.CHANGELOG.LOG.INFO'| translate }}</p>
				<button (click)="toggleChangelog()" matRipple [matRippleColor]="'#d4d4d480'">{{ 'GENERAL.SETTINGS.CHANGELOG.LOG.BUTTON' | translate }}</button>
			</div>
		</div>
		<!-- External Software -->
		<div class="settings-block">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="block-label">{{ 'GENERAL.SETTINGS.SOFTWARE.TITLE' | translate }}</p>
			<div class="category btn-full-category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.SOFTWARE.THIRD_PARTY.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.SOFTWARE.THIRD_PARTY.INFO'| translate }}</p>
				<button (click)="changeMenuMode('thirdParty')" matRipple [matRippleColor]="'#d4d4d480'">{{ 'GENERAL.SETTINGS.SOFTWARE.THIRD_PARTY.BUTTON' | translate }}</button>
			</div>
		</div>
		<!-- Support -->
		<div class="settings-block">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="block-label">{{ 'GENERAL.SETTINGS.SUPPORT.TITLE' | translate }}</p>
			<div class="category btn-full-category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.SUPPORT.DONATE.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.SUPPORT.DONATE.INFO'| translate }}</p>
				<button (click)="support('https://paypal.me/pools/c/8gwg2amXDT')" matRipple [matRippleColor]="'#d4d4d480'">{{ 'GENERAL.SETTINGS.SUPPORT.BUTTON' | translate }}</button>
			</div>
			<div class="category btn-full-category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.SUPPORT.DOCUMENTATION.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.SUPPORT.DOCUMENTATION.INFO'| translate }}</p>
				<button (click)="support('https://github.com/Syrex-o/FhemNative')" matRipple [matRippleColor]="'#d4d4d480'">{{ 'GENERAL.SETTINGS.SUPPORT.BUTTON' | translate }}</button>
			</div>
			<div class="category btn-full-category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.SUPPORT.HELP.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.SUPPORT.HELP.INFO'| translate }}</p>
				<button (click)="support('https://forum.fhem.de/index.php/board,102.0.html')" matRipple [matRippleColor]="'#d4d4d480'">{{ 'GENERAL.SETTINGS.SUPPORT.BUTTON' | translate }}</button>
			</div>
		</div>
		<!-- Info and Advanced Options -->
		<div class="settings-block no-border">
			<div class="category btn-full-size">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">App Version: {{ version.appVersion }}</p>
				<button class="no-height" matRipple [matRippleColor]="'#d4d4d480'" (click)="changeMenuMode('advanced')">
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.ADVANCED.TITLE' | translate }}</p>
					<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.ADVANCED.INFO'| translate }}</p>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Custom Color Theme -->
<picker
	[(ngModel)]="menus.customAppTheme"
	[height]="80"
	[showConfirmBtn]="false"
	[cancelBtn]="'GENERAL.BUTTONS.CLOSE' | translate"
	[zIndex]="1001">
	<div header>
		<h1 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">Custom Theme</h1>
	</div>
	<div body class="page">
		<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'GENERAL.SETTINGS.APP.THEME.CHANGE_INFO' | translate }}</p>
		<div class="background">
			<div class="block" [style.background]="settings.app.customTheme.primary">
				<div class="change-color-container">
					<span class="selected-color" [style.background]="settings.app.customTheme.primary"></span>
					<p class="label">Primary:</p>
					<selector
						class="select"
						[items]="settings.componentColors"
						[addNewItems]="true"
						[(ngModel)]="settings.app.customTheme.primary"
						(onValueChange)="changeCustomColor('primary', $event)">
						<ng-template let-item="item" let-index="index">
							<span class="color" [style.background]="item"></span>
							<span class="label color-label">{{ item }}</span>
						</ng-template>
					</selector>
				</div>
				<div class="block" [style.background]="settings.app.customTheme.secondary">
					<div class="change-color-container">
						<span class="selected-color" [style.background]="settings.app.customTheme.secondary"></span>
						<p class="label">Secondary:</p>
						<selector
							class="select"
							[items]="settings.componentColors"
							[addNewItems]="true"
							[(ngModel)]="settings.app.customTheme.secondary"
							(onValueChange)="changeCustomColor('secondary', $event)">
							<ng-template let-item="item" let-index="index">
								<span class="color" [style.background]="item"></span>
								<span class="label color-label">{{ item }}</span>
							</ng-template>
						</selector>
					</div>
					<div class="block transparent">
						<div class="change-color-container">
							<span class="selected-color" [style.background]="settings.app.customTheme.text"></span>
							<p [style.color]="settings.app.customTheme.text" class="label">Text:</p>
							<selector
								class="select"
								[items]="settings.componentColors"
								[addNewItems]="true"
								[(ngModel)]="settings.app.customTheme.text"
								(onValueChange)="changeCustomColor('text', $event)">
								<ng-template let-item="item" let-index="index">
									<span class="color" [style.background]="item"></span>
									<span class="label color-label">{{ item }}</span>
								</ng-template>
							</selector>
						</div>
						<div class="block transparent">
							<div class="change-color-container">
								<span class="selected-color" [style.background]="settings.app.customTheme.des"></span>
								<p [style.color]="settings.app.customTheme.des" class="label">Description:</p>
								<selector
									class="select"
									[items]="settings.componentColors"
									[addNewItems]="true"
									[(ngModel)]="settings.app.customTheme.des"
									(onValueChange)="changeCustomColor('text', $event)">
									<ng-template let-item="item" let-index="index">
										<span class="color" [style.background]="item"></span>
										<span class="label color-label">{{ item }}</span>
									</ng-template>
								</selector>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</picker>

<!-- Changelog -->
<picker
	[(ngModel)]="menus.changeLog"
	[height]="100"
	[showConfirmBtn]="false"
	[cancelBtn]="'GENERAL.BUTTONS.CLOSE' | translate"
	[zIndex]="1001">
	<div header>
		<h1 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'GENERAL.SETTINGS.CHANGELOG.PICKER.TITLE' | translate }}</h1>
	</div>
	<div body class="page content full-height changelog" *ngIf="changelog">
		<div class="settings-block">
			<div class="category btn-category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.CHANGELOG.SELECTOR.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.CHANGELOG.SELECTOR.INFO' | translate }}</p>
				<ion-select 
					colorizer [theme]="settings.app.theme" [style]="['color', 'text']"
					[okText]="'GENERAL.BUTTONS.CONFIRM' | translate" [cancelText]="'GENERAL.BUTTONS.CANCEL' | translate"
		            [(ngModel)]="changelog.selectedVersion">
					<ion-select-option 
						*ngFor="let item of changelog.VERSIONS; let i = index;" 
						[value]="i"
						[disabled]="isVersionAvailable(i)">{{item.VERSION}}
					</ion-select-option>
				</ion-select>
			</div>
		</div>
		<div class="settings-block">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="block-label">
				{{changelog.VERSIONS[changelog.selectedVersion].DATE}} App Version: {{changelog.VERSIONS[changelog.selectedVersion].VERSION}}
			</p>
			<div class="category" *ngFor="let change of changelog.VERSIONS[changelog.selectedVersion].CHANGES">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{change.TYPE}}:</p>
				<p class="des" [ngClass]="change.TYPE">{{change.CHANGE}}</p>
			</div>
		</div>
	</div>
</picker>

<!-- Third Party Software -->
<picker
	[(ngModel)]="menus.thirdParty"
	[height]="100"
	[showConfirmBtn]="false"
	[cancelBtn]="'GENERAL.BUTTONS.CLOSE' | translate"
	[zIndex]="1001">
	<div header>
		<h1 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'GENERAL.SETTINGS.SOFTWARE.PICKER.TITLE' | translate }}</h1>
	</div>
	<div body class="page content full-height">
		<div class="settings-block">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="block-label">{{ 'GENERAL.SETTINGS.CHANGELOG.TITLE' | translate }}</p>
			<div class="category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">Angular</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.SOFTWARE.PICKER.ANGULAR' | translate }}</p>
			</div>
			<div class="category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">Ionic</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.SOFTWARE.PICKER.IONIC' | translate }}</p>
			</div>
			<div class="category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">Electron</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.SOFTWARE.PICKER.ELECTRON' | translate }}</p>
			</div>
			<div class="category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">FHEM</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.SOFTWARE.PICKER.FHEM' | translate }}</p>
			</div>
			<div class="category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">ntruchsess</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.SOFTWARE.PICKER.ntruchsess' | translate }}</p>
			</div>
		</div>
		<div class="settings-block">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="block-label">{{ 'GENERAL.SETTINGS.SOFTWARE.PICKER.MORE.TITLE' | translate  }}</p>
			<div class="category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.SOFTWARE.PICKER.MORE.IONIC.TITLE' | translate }}</p>
				<ul>
					<li colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">Storage</p>
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.SOFTWARE.PICKER.MORE.IONIC.STORAGE' | translate }}</p>
					</li>
					<li colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">File</p>
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.SOFTWARE.PICKER.MORE.IONIC.FILE' | translate }}</p>
					</li>
					<li colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">SocialSharing</p>
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.SOFTWARE.PICKER.MORE.IONIC.SOCIALSHARING' | translate }}</p>
					</li>
					<li colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">Chooser</p>
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.SOFTWARE.PICKER.MORE.IONIC.CHOOSER' | translate }}</p>
					</li>
				</ul>
			</div>
			<div class="category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.SOFTWARE.PICKER.MORE.EXTERNAL.TITLE' | translate }}</p>
				<ul>
					<li colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">D3</p>
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.SOFTWARE.PICKER.MORE.EXTERNAL.D3' | translate }}</p>
					</li>
					<li colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">Ngx-toastr</p>
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.SOFTWARE.PICKER.MORE.EXTERNAL.NGXTOASTER' | translate }}</p>
					</li>
				</ul>
			</div>
			<div class="category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.SOFTWARE.PICKER.MORE.OTHERS.TITLE' | translate }}</p>
				<ul>
					<li colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']"class="label">Temperature dragger</p>
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">https://github.com/akveo/ngx-admin</p>
					</li>
					<li colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">D3 Liquid Gauge</p>
						<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">Curtis Bratton: http://bl.ocks.org/brattonc/5e5ce9beee483220e2f6</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</picker>

<!-- Advanced Options -->
<picker
	[(ngModel)]="menus.advanced"
	[height]="100"
	[showConfirmBtn]="false"
	[cancelBtn]="'GENERAL.BUTTONS.CLOSE' | translate"
	[zIndex]="1001">
	<div header>
		<h1 colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'GENERAL.SETTINGS.ADVANCED.TITLE' | translate }}</h1>
	</div>
	<div body class="page content full-height">
		<!-- FHEM settings -->
		<div class="settings-block">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="block-label">{{ 'GENERAL.SETTINGS.FHEM.TITLE' | translate }}</p>
			<div class="category switch-category">
				<switch
					[padding]="false"
					[(ngModel)]="settings.app.keepConnected"
					[label]="'GENERAL.SETTINGS.FHEM.ALWAYS_ON.TITLE' | translate"
					[subTitle]="'GENERAL.SETTINGS.FHEM.ALWAYS_ON.INFO' | translate"
					(onToggle)="changeAppSetting('keepConnected', $event)">
				</switch>
			</div>
			<!-- Generate Rooms -->
			<div class="category btn-full-category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.FHEM.AUTO_ROOMS.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.FHEM.AUTO_ROOMS.INFO' | translate }}</p>
				<button (click)="generateRooms()" matRipple [matRippleColor]="'#d4d4d480'">{{ 'GENERAL.SETTINGS.FHEM.AUTO_ROOMS.BUTTON' | translate }}</button>
			</div>
			<!-- Generate Devices -->
			<div class="category btn-full-category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.FHEM.AUTO_DEVICES.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.FHEM.AUTO_DEVICES.INFO' | translate }}</p>
				<button (click)="generateDevices()" matRipple [matRippleColor]="'#d4d4d480'">{{ 'GENERAL.SETTINGS.FHEM.AUTO_DEVICES.BUTTON' | translate }}</button>
			</div>
		</div>
		<!-- App settings -->
		<div class="settings-block">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="block-label">{{ 'GENERAL.SETTINGS.APP.TITLE' | translate }}</p>
			<!-- Grid Enablement -->
			<div class="category switch-category">
				<switch
					[padding]="false"
					[(ngModel)]="settings.app.grid.enabled"
					[label]="'GENERAL.SETTINGS.COMPONENTS.GRID.TITLE' | translate"
					[subTitle]="'GENERAL.SETTINGS.COMPONENTS.GRID.INFO' | translate"
					(onToggle)="changeAppSettingJSON('grid', 'enabled', $event)">
				</switch>
			</div>
			<!-- Grid Size -->
			<div class="category btn-category" *ngIf="settings.app.grid.enabled">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.SETTINGS.COMPONENTS.GRID_SIZE.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.SETTINGS.COMPONENTS.GRID_SIZE.INFO' | translate }}</p>
				<ion-select 
					colorizer [theme]="settings.app.theme" [style]="['color', 'text']"
					[okText]="'GENERAL.BUTTONS.CONFIRM' | translate" [cancelText]="'GENERAL.BUTTONS.CANCEL' | translate"
					[(ngModel)]="settings.app.grid.gridSize" (ionChange)="changeAppSettingJSON('grid', 'gridSize', $event.detail.value)">
					<ion-select-option [value]="10">10</ion-select-option>
					<ion-select-option [value]="20">20</ion-select-option>
					<ion-select-option [value]="30">30</ion-select-option>
					<ion-select-option [value]="40">40</ion-select-option>
				</ion-select>
			</div>
			<!-- responsive resize -->
			<div class="category switch-category">
				<switch
					[padding]="false"
					[(ngModel)]="settings.app.responsiveResize"
					[label]="'GENERAL.SETTINGS.COMPONENTS.RESPONSIVE_RESIZE.TITLE' | translate"
					[subTitle]="'GENERAL.SETTINGS.COMPONENTS.RESPONSIVE_RESIZE.INFO' | translate"
					(onToggle)="changeAppSetting('responsiveResize', $event)">
				</switch>
			</div>
		</div>
		<!-- Reset all settings -->
		<div class="settings-block">
			<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="block-label">{{ 'GENERAL.RESET.TITLE' | translate }}</p>
			<!-- Reset btn -->
			<div class="category btn-full-category">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="label">{{ 'GENERAL.RESET.REVERT.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.RESET.REVERT.INFO' | translate }}</p>
				<button (click)="resetSettings()" matRipple [matRippleColor]="'#d4d4d480'">{{ 'GENERAL.RESET.REVERT.BUTTON' | translate }}</button>
			</div>
		</div>
	</div>
</picker>