<fhem-component-container 
	[specs]="{ID: ID, device: data_device, reading: data_reading, available: true}" 
	[fhemDevice]="fhemDevice"
	[position]="{width: width, height: height, top: top, left: left, zIndex: zIndex, rotation: rotation}"
	[allowRotation]="true"
	[minimumWidth]="30"
	[minimumHeight]="30"
	outside-click (onOutsideClick)="closeMenu()">
	<div class="circle-menu {{settings.app.theme}}" [ngClass]="arr_data_style[0]">
		<button (click)="toggleMenu()"
			class="button ion-activatable"
			[class.active]="buttonState"
			[ngStyle]="{
				'background-color': style_buttonColor,
				'border-top-left-radius.px': bool_data_customBorder ? data_borderRadiusTopLeft : data_borderRadius,
				'border-top-right-radius.px': bool_data_customBorder ? data_borderRadiusTopRight : data_borderRadius,
				'border-bottom-left-radius.px': bool_data_customBorder ? data_borderRadiusBottomLeft : data_borderRadius,
				'border-bottom-right-radius.px': bool_data_customBorder ? data_borderRadiusBottomRight : data_borderRadius
			}">
			<icon 
				[icon]="icon_icon"
				[style.color]="buttonState ? style_iconColorOn : style_iconColorOff">
			</icon>
			<ion-ripple-effect></ion-ripple-effect>
		</button>
		<!-- Menu Items -->
		<div class="circle-menu-items" [ngClass]="buttonState ? 'show' : 'hide'">
			<div *ngFor="let item of items; let i = index"
				class="circle-menu-item ion-activatable"
				(click)="select(i)"
				[class.active]="item === currentValue"
				[ngStyle]="{
					'background-color': item === currentValue ? style_activeColor : style_buttonColor,
					'border-top-left-radius.px': bool_data_customBorder ? data_borderRadiusTopLeft : data_borderRadius,
					'border-top-right-radius.px': bool_data_customBorder ? data_borderRadiusTopRight : data_borderRadius,
					'border-bottom-left-radius.px': bool_data_customBorder ? data_borderRadiusBottomLeft : data_borderRadius,
					'border-bottom-right-radius.px': bool_data_customBorder ? data_borderRadiusBottomRight : data_borderRadius,
					'transform': buttonState ? translator(arr_data_expandStyle[0], i) : 'translate(0px,0px)',
					'opacity': buttonState ? 1 : 0,
					'transition-delay': buttonState ? (i * 0.04)+'s' : '0s'
				}">
				<p *ngIf="!bool_data_useIcons"
					[ngStyle]="{
					'color': style_labelColor,
					'line-height': hostEl.height + 'px'
					}">
					{{item}}
				</p>
				<icon *ngIf="bool_data_useIcons"
					[style.color]="arr_style_iconColors[i] || arr_style_iconColors[0]"
					[icon]="arr_icon_icons[i] || arr_icon_icons[0]">
				</icon>
				<ion-ripple-effect></ion-ripple-effect>
			</div>
		</div>
	</div>
</fhem-component-container>