:host{
	.swiper{
		width: inherit;
		height: inherit;
		p{
			text-align: center;
			margin: 0;
			line-height: 35px;
		}
		.btn-round{
			position: absolute;
		    top: 0;
		    right: 0;
		    z-index: 101;
		    cursor: pointer;
		    pointer-events: all;
		}
		.content{
			position: relative;
			height: 100%;
			width: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			pointer-events: all;
			.container{
				width: inherit;
				height: inherit;
			}
		}
	}
}