:host{
	.swiper{
		width: inherit;
		height: inherit;
		p{
			text-align: center;
			margin: 0;
			line-height: 35px;
		}
		.btn-round{
			position: absolute;
			top: 0;
			right: 0;
			z-index: 101;
			cursor: pointer;
			pointer-events: all;
		}
		.custom-header{
			position: absolute;
			width: 100%;
			height: 40px;
			top: 0px;
			p{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&.lower-text {
				height: 45px;
				p{
					top: 70%;
				}
			}
		}
		.content{
			position: relative;
			height: 100%;
			width: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			pointer-events: all;
			&.custom-header-enabled{
				height: calc(100% - 40px);
				top: 20px;
				&.show-pager-enabled{
					height: calc(100% - 45px);
					top: 22.5px;
				}
			}
			.container{
				width: inherit;
				height: inherit;
			}
		}
		// neumorph
		&.NM-IN-standard,
		&.NM-OUT-standard{
			&.dark{
				border: var(--neumorph-border-dark) !important;
				ion-slides{
					background: var(--primary-dark) !important;
				}
			}
			&.dark-alternative{
				border: var(--neumorph-border-dark-alternative) !important;
				ion-slides{
					background: var(--primary-dark-alternative) !important;
				}
			}
			&.bright{
				border: var(--neumorph-border-bright) !important;
				ion-slides{
					background: var(--primary-bright) !important;
				}
			}
		}
		&.NM-IN-standard{
			&.dark{
				.content{
					box-shadow: var(--neumorph-in-dark) !important;
				}
			}
			&.dark-alternative{
				.content{
					box-shadow: var(--neumorph-in-dark-alternative) !important;
				}
			}
			&.bright{
				.content{
					box-shadow: var(--neumorph-in-bright) !important;
				}
			}
		}
		&.NM-OUT-standard{
			&.dark{
				box-shadow: var(--neumorph-out-dark) !important;
			}
			&.dark-alternative{
				box-shadow: var(--neumorph-out-dark-alternative) !important;
			}
			&.bright{
				box-shadow: var(--neumorph-out-bright) !important;
			}
		}
	}
}