:host{
	.category {
		position: relative;
		width: 100%;
		padding-left: 8px;
		padding-right: 8px;
		margin-bottom: 10px;
		.label {
			margin-bottom: 5px;
			margin-top: 5px;
			font-weight: 500;
		}
		.des {
			margin-top: -2px;
			margin-bottom: 5px;
			font-size: 13px;
		}
		.device-size{
			position: absolute;
			right: 8px;
			top: 0;
			line-height: 40px;
			margin: 0;
		}
		&.btn-category {
			.label, .des{
				width: calc(100% - 100px);
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}