:host{
	.select-container{
		min-height: 40px;
		min-width: 100px;
		cursor: pointer;
		position: relative;
		transition: all .15s ease-out;
		&.full-height{
			height: 100%;
		}
		.shorten{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			user-select: none;
		}
		.select-value-container{
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			min-height: 40px;
			overflow: hidden;
			border-radius: inherit;
			.selection-container{
				width: calc(100% - 40px);
				display: flex;
				flex-wrap: wrap;
				.placeholder{
					position: absolute;
					width: calc(100% - 40px);
					top: 50%;
					position: relative;
					transform: translateY(-50%);
				}
				.selected-item{
					font-size: 0.9em;
					height: 28px;
					border-radius: 5px;
					border: 1px solid #565656;
					margin: 5px;
					display: flex;
					max-width: 150px;
					.remove,
					.label{
						display: inline-block;
					}
					.remove{
						position: relative;
						width: 28px;
						height: 27px;
						border-radius: 5px;
						border-right: 1px solid #565656;
						padding-right: 10px;
						padding-left: 10px;
						.line{
							position: absolute;
							width: 12px;
							height: 2px;
							background: red;
							left: 50%;
							top: 50%;
							&.first{
								transform: translate(-50%, -50%) rotate(45deg);
							}
							&.second{
								transform: translate(-50%, -50%) rotate(-45deg);
							}
						}
					}
					.label{
						line-height: 28px;
						padding-left: 5px;
						padding-right: 5px;
						max-width: 150px;
						min-width: 35px;
						user-select: none;
					}
				}
				.select-value{
					width: calc(100% - 40px);
					flex: 1;
					input{
						background: transparent;
						border: 0px;
						height: 100%;
						width: calc(100% - 40px);
						&:focus{
							outline: 0px;
						}
					}
				}
			}
			.dropdown-container{
				position: absolute;
				top: 0;
				width: 40px;
				height: 100%;
				right: 0;
				.select-arrow{
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%) rotate(180deg);
					transition: all .2s ease;
					transform-origin: 50% 50%;
				}
			}
		}
		.select-item-container{
			position: absolute;
			top: 100%;
			left: -1px;
			width: calc(100% + 2px);
			max-height: 300px;
			overflow-y: auto;
			box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
			z-index: 1;
			.item{
				position: relative;
				height: 35px;
				padding: 8px;
				text-align: left;
			}
		}
		&.open{
			border-bottom-left-radius: 0px !important;
			border-bottom-right-radius: 0px !important;
			.select-value-container .dropdown-container .select-arrow {
				transform: translate(-50%, -50%) rotate(0deg);
			}
		}
		// special fhem component part
		// single selection
		&.single-selection{
			.select-value-container{
				.selection-container{
					.selected-item{
						display: block;
						width: 100%;
						max-width: none;
						height: 100%;
						border: none;
						margin: 0;
						position: relative;
						overflow: hidden;
						.label{
							position: absolute;
							top: 50%;
							margin-left: 5px;
							transform: translateY(-50%);
							width: 100%;
						}
					}
					.select-value{
						position: absolute;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}