<div 
	colorizer [theme]="settings.app.theme" [style]="['background', 'primary']"
	outside-click (onOutsideClick)="opened ? toggleSelectionMenu() : null"
	class="select-container" [class.open]="opened">
	<div class="select-value-container">
		<div class="selection-container">
			<div *ngIf="selected.length === 0 && placeholder" colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="placeholder shorten">{{placeholder}}</div>
			<ng-container *ngIf="selected.length > 0">
				<ng-container *ngFor="let item of selected; let i = index">
					<div class="selected-item" colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
						<span *ngIf="selected.length > 1" class="remove" matRipple [matRippleColor]="'#d4d4d480'" (click)="removeItem(item, i)">
							<span class="line first"></span>
							<span class="line second"></span>
						</span>
						<span class="label shorten">{{item}}</span>
					</div>
				</ng-container>
			</ng-container>
			<div class="select-value" (click)="toggleSelectionMenu(true)">
				<input 
					*ngIf="searchable" 
					[(ngModel)]="input" 
					colorizer [theme]="settings.app.theme" [style]="['color', 'text']" 
					(ngModelChange)="onInputChange($event)">
			</div>
		</div>
		<div class="dropdown-container" matRipple [matRippleColor]="'#d4d4d480'" (click)="toggleSelectionMenu()">
			<ion-icon colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="select-arrow" name="triangle"></ion-icon>
		</div>
	</div>
	<div @Unfold class="select-item-container" *ngIf="opened" colorizer [theme]="settings.app.theme" [style]="['background', 'primary']">
		<ng-container *ngFor="let item of _items; let i = index;">
			<div class="item" matRipple [matRippleColor]="'#d4d4d480'" colorizer [theme]="settings.app.theme" [style]="['color', 'text']" (click)="selectItem(item, i)">
				<ng-template *ngIf="templateRef" [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{item: item, index: i}"></ng-template>
				<ng-template *ngIf="!templateRef" [ngTemplateOutlet]="DEFAULT_ITEM" [ngTemplateOutletContext]="{item: item, index: i}"></ng-template>
			</div>
		</ng-container>
		<div 
			*ngIf="_items.length === 0 && input !== '' && !addNewItems" 
			class="item" colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{'COMPONENTS.Select.TRANSLATOR.NO_ITEMS' | translate}}
		</div>
		<div 
			*ngIf="_items.length === 0 && input !== '' && addNewItems" 
			class="item" colorizer [theme]="settings.app.theme" [style]="['color', 'text']"
			(click)="addUserValue()">{{'COMPONENTS.Select.TRANSLATOR.ADD' | translate}} {{input}}
		</div>
	</div>
</div>

<ng-template #DEFAULT_ITEM let-item="item" let-index="index">
	<p class="shorten">{{ (bindLabel ? item[bindLabel] : item) }}</p>
</ng-template>