<fhem-component-container 
	[specs]="{ID: ID, device: data_device, reading: data_reading, available: true}"
	[fhemDevice]="fhemDevice"
	[position]="{width: width, height: height, top: top, left: left, zIndex: zIndex, rotation: rotation}"
	[allowRotation]="true"
	[minimumWidth]="30"
	[minimumHeight]="30">
	<button 
		matRipple [matRippleColor]="'#d4d4d480'"
		(click)="sendCmd()"
		class="button {{settings.app.theme}}"
		[ngClass]="arr_data_style[0]"
		[ngStyle]="{
			'background-color': getArrValue('arr_style_buttonColors', false),
			'border-top-left-radius.px': bool_data_customBorder ? data_borderRadiusTopLeft : data_borderRadius,
			'border-top-right-radius.px': bool_data_customBorder ? data_borderRadiusTopRight : data_borderRadius,
			'border-bottom-left-radius.px': bool_data_customBorder ? data_borderRadiusBottomLeft : data_borderRadius,
			'border-bottom-right-radius.px': bool_data_customBorder ? data_borderRadiusBottomRight : data_borderRadius
		}">
		<p 
			*ngIf="!bool_data_iconOnly" 
			class="label" [ngStyle]="{
				'color': getArrValue('arr_style_labelColors', false),
				'width': 'calc(100% - '+ data_iconSize +'px - 16px)'
			}">{{data_label}}</p>
		<icon 
			[class.icon-only]="bool_data_iconOnly"
			[icon]="getArrValue('arr_icon_icons', 'add-circle')"
			[style.color]="getArrValue('arr_style_iconColors', false)"
			[ngStyle]="{
				'width.px': data_iconSize,
				'height.px': data_iconSize
			}">
		</icon>
	</button>
</fhem-component-container>