:host{
	.line{
		width: inherit;
		height: inherit;
		.line-item{
			position: absolute;
			&.horizontal{
				width: 100%;
				top: 50%;
				left: 0;
			}
			&.vertical{
				height: 100%;
				left: 50%;
				top: 0;
			}
		}
		// neumorph
		&.NM-IN-standard,
		&.NM-OUT-standard{
			&.dark{
				.line-item{
					background: var(--primary-dark) !important;
					border: var(--neumorph-border-dark);
				}
			}
			&.dark-alternative{
				.line-item{
					background: var(--primary-dark-alternative) !important;
					border: var(--neumorph-border-dark-alternative);
				}
			}
			&.bright{
				.line-item{
					background: var(--primary-bright) !important;
					border: var(--neumorph-border-bright);
				}
			}
		}
		// neumorph in
		&.NM-IN-standard{
			&.dark{
				.line-item{
					box-shadow: var(--neumorph-in-dark) !important;
				}
			}
			&.dark-alternative{
				.line-item{
					box-shadow: var(--neumorph-in-dark-alternative) !important;
				}
			}
			&.bright{
				.line-item{
					box-shadow: var(--neumorph-in-bright) !important;
				}
			}
		}
		// neumorph in
		&.NM-OUT-standard{
			&.dark{
				.line-item{
					box-shadow: var(--neumorph-out-dark) !important;
				}
			}
			&.dark-alternative{
				.line-item{
					box-shadow: var(--neumorph-out-dark-alternative) !important;
				}
			}
			&.bright{
				.line-item{
					box-shadow: var(--neumorph-out-bright) !important;
				}
			}
		}
	}
}