<fhem-component-container 
	[specs]="{ID: ID, device: null, reading: null, offline: true}" 
	[position]="{width: width, height: height, top: top, left: left, zIndex: zIndex, rotation: rotation}"
	[allowRotation]="true"
	[minimumWidth]="60"
	[minimumHeight]="60">
	<div 
		class="box {{settings.app.theme}}" 
		[ngClass]="arr_data_style[0]"
		[ngStyle]="{
			'box-shadow': bool_data_showShadow ? '0px 15px 25px 0 rgba(0, 0, 0, 0.3)' : '0px',
			'border-top-left-radius.px': bool_data_customBorder ? data_borderRadiusTopLeft : data_borderRadius,
			'border-top-right-radius.px': bool_data_customBorder ? data_borderRadiusTopRight : data_borderRadius,
			'border-bottom-left-radius.px': bool_data_customBorder ? data_borderRadiusBottomLeft : data_borderRadius,
			'border-bottom-right-radius.px': bool_data_customBorder ? data_borderRadiusBottomRight : data_borderRadius,
			'clip-path': bool_data_customNotch ? 'polygon('+ (data_notchDefinition !== '' ? data_notchDefinition : '') +')' : 'none'
		}">
		<div 
			*ngIf="bool_data_showHeader" class="box-header"
			[ngStyle]="{
				'font-weight': headerWeight,
				'font-style': headerStyle,
				'text-align': arr_data_headerPosition[0],
				'background': style_headerColor
			}">
			<p class="theme-text">{{data_headline}}</p>
		</div>
		<div 
			class="box-content"
			[class.reduce-height]="bool_data_showHeader"
			[style.background]="style_backgroundColor">
		</div>
	</div>
</fhem-component-container>