/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-toastr/toastr';
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";
// Directive styles
[ripple] {
    .base {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        border-radius: inherit;
        .ink {
            display: block;
            position: absolute;
            border-radius: 100%;
            transform: scale(0);
        }
        &.animate .ink {
            animation: ripple 0.65s linear;
        }
    }
    @keyframes ripple {
        100% {
            opacity: 0;
            transform: scale(2.5);
        }
    }
}
[resize] {
    .movable {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        pointer-events: all;
        .rect {
            position: absolute;
            width: 20px;
            height: 20px;
            z-index: 1;
            transition: all .2s ease;
            &:before {
                content: "";
                display: block;
                position: absolute;
                z-index: 1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 15px;
                height: 15px;
                background-color: #14a9d5;
                transition: all .2s ease;
            }
            &.top-center,
            &.bottom-center{
                cursor: ns-resize;
            }
            &.top-left,
            &.bottom-right{
                cursor: nwse-resize;
            }
            &.top-right,
            &.bottom-left{
                cursor: nesw-resize;
            }
            &.left-center,
            &.right-center{
                cursor: ew-resize;
            }
            &.top-left, &.top-right, &.top-center {
                top: -10px;
            }
            &.top-left, &.bottom-left, &.left-center {
                left: -10px;
            }
            &.top-right, &.bottom-right, &.right-center {
                right: -10px;
            }
            &.bottom-left, &.bottom-right, &.bottom-center {
                bottom: -10px;
            }
            &.top-center, &.bottom-center {
                left: 50%;
                transform: translate3d(-50%, 0, 0);
            }
            &.right-center, &.left-center {
                top: 50%;
                transform: translate3d(0, -50%, 0);
            }
        }
        .overlay-move {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 1px solid rgba(157, 226, 246, 1);
            background: rgba(157, 226, 246, 0.2);
            transition: all .2s ease;
        }
    }
}
// pin component
.pinned{
    &::after{
        content: "";
        position: absolute;
        background: url(
            "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'><path fill='rgb(20, 169, 213)' d='M298.028 214.267L285.793 96H328c13.255 0 24-10.745 24-24V24c0-13.255-10.745-24-24-24H56C42.745 0 32 10.745 32 24v48c0 13.255 10.745 24 24 24h42.207L85.972 214.267C37.465 236.82 0 277.261 0 328c0 13.255 10.745 24 24 24h136v104.007c0 1.242.289 2.467.845 3.578l24 48c2.941 5.882 11.364 5.893 14.311 0l24-48a8.008 8.008 0 0 0 .845-3.578V352h136c13.255 0 24-10.745 24-24-.001-51.183-37.983-91.42-85.973-113.733z'></path></svg>"
        ) no-repeat;
        background-position: center;
        background-size: 60%;
        height: 35px;
        width: 35px;
        left: 0px;
        top: 0px;
    }
}

// code styles
.CodeMirror{
    height: 75vh;
    .cm-error{
        background: transparent;
    }
}

// resize ectension for: selected-for-copy
.selected-for-copy > .movable {
    .overlay-move{
        background: rgba(243, 192, 47, 0.2);
        border: 1px solid #ffbd00;
    }
    .rect:before{
        background-color: #ffbd00;
    }
}

.header-ios:after{
    left: 0;
    bottom: -3px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 3px;
    background: rgba(0,0,0,0.1);
    content: "";
}

ion-header{
    height: 56px;
    ion-title.ios{
        padding-left: 65px;
        text-align: left;
    }
    ion-toolbar.ios{
        height: 100%;
        ion-title{
            height: 65px;
        }
    }
}
fa-icon{
    width: 1em;
    .svg-inline--fa{
        width: inherit !important;
        height: inherit;
    }
}

// Global Styles
.swiper-pagination {
    top: 0px;
    height: 0;
}
// Toast messages
.notify, .toast {
    font-family: "Roboto", sans-serif;
    min-height: 45px;
    max-width: 150px;
    min-width: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    margin-top: 3px;
    &.toast-success {
        background-color: var(--btn-green);
    }
    &.toast-info {
        background-color: var(--btn-blue);
        background-image: none;
    }
    &.toast-error {
        background-color: var(--btn-red);
    }
    .toast-title {
        font-weight: 500;
        font-size: 14px;
    }
    .toast-message {
        font-weight: 300;
        font-size: 12px;
    }
}
#toast-container.toast-top-center {
    pointer-events: all;
    .toast-info {
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
    }
}
//Ionic Modal config
.modal-fullscreen {
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
}

// alert custom classes
ion-alert.dark{
    .alert-head h2,
    .alert-message{
        color: var(--dark-p);
    }
    hr{
        background: var(--dark-p);
    }
    .alert-wrapper{
        background: var(--dark-bg);
    }
    &.allow-text-select{
        .des{
            color: var(--p-small);
        }
    }
}
ion-alert.allow-text-select{
    user-select: text;
    .des{
        font-size: 0.8em;
        display: block;
        white-space: nowrap;
        margin-bottom: 5px;
    }
}
ion-alert.wider{
    --min-width: 300px;
}
// alert fix for long text
.alert-tappable.alert-radio {
    height: auto;
    contain: content;
}
.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios {
    white-space: normal;
}

ng-select{
    &.break .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
        white-space: initial;
    }
}

.dark {
    .ng-select-container, .ng-option {
        background: var(--dark-bg) !important;
    }
    .color-label, 
    .label, 
    .ng-value-label, 
    ion-title,
    .ng-input > input,
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked,
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
        --color: var(--dark-p);
        color: var(--dark-p);
    }
    .ng-select-multiple .ng-value-label {
        background: var(--dark-bg);
    }
    .ng-select .ng-select-container, .ng-select-multiple .ng-value-label {
        border: var(--dark-border-full);
    }
}