<div
	outside-click
	(onOutsideClick)="removeContextMenu()">
	<div 
		@PopupPicker
		#CONTEXT_MENU
		class="context-menu"
		[ngStyle]="{'left.px': x, 'top.px': y}"
		[class.show]="show.contextMenu"
		colorizer [theme]="settings.app.theme" [style]="['background', 'primary']">
		<button matRipple [matRippleColor]="'#d4d4d480'" *ngIf="source === 'component'" (click)="toggleComponentSettings()" class="settings">
			<icon icon="cog"></icon>
			<p>{{ 'GENERAL.EDIT_COMPONENT.MENU.SETTINGS' | translate }}</p>
		</button>
		<button matRipple [matRippleColor]="'#d4d4d480'" *ngIf="source === 'component'" (click)="toggleComponentDetails()" colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
			<icon icon="information-circle"></icon>
			<p>{{ 'GENERAL.EDIT_COMPONENT.MENU.DETAILS' | translate }}</p>
		</button>
		<button 
			matRipple [matRippleColor]="'#d4d4d480'" *ngIf="source === 'component' || selectComponent.selectorList.length > 0" 
			(click)="exportComponents()" colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
			<icon icon="file-export"></icon>
			<p>{{ 'GENERAL.EDIT_COMPONENT.MENU.EXPORT' | translate }}</p>
		</button>
		<button 
			matRipple [matRippleColor]="'#d4d4d480'" *ngIf="source !== 'component'"
			(click)="importComponents()" colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
			<icon icon="file-import"></icon>
			<p>{{ 'GENERAL.EDIT_COMPONENT.MENU.IMPORT' | translate }}</p>
		</button>
		<button matRipple [matRippleColor]="'#d4d4d480'" *ngIf="source === 'component'" (click)="pinComponent()" colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
			<icon icon="pin"></icon>
			<p>{{ structure.getComponent(this.componentID)?.pinned ? ('GENERAL.EDIT_COMPONENT.MENU.UNPIN' | translate) : ('GENERAL.EDIT_COMPONENT.MENU.PIN' | translate) }}</p>
		</button>
		<button matRipple [matRippleColor]="'#d4d4d480'" *ngIf="source === 'component'" (click)="sendTo('front')" colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
			<icon class="smaller" icon="window-restore"></icon>
			<p>{{ 'GENERAL.EDIT_COMPONENT.MENU.FOREGROUND' | translate }}</p>
		</button>
		<button matRipple [matRippleColor]="'#d4d4d480'" *ngIf="source === 'component'" (click)="sendTo('back')" colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
			<icon class="opacity smaller" icon="window-restore"></icon>
			<p>{{ 'GENERAL.EDIT_COMPONENT.MENU.BACKGROUND' | translate }}</p>
		</button>
		<button 
			matRipple [matRippleColor]="'#d4d4d480'" 
			*ngIf="source === 'component'" (click)="markForSelection()" 
			colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
			<icon [icon]="!selectComponent.evalCopySelector(componentID) ? 'clipboard-check' : 'clipboard'"></icon>
			<p>{{ !selectComponent.evalCopySelector(componentID) ? ('GENERAL.EDIT_COMPONENT.MENU.SELECT' | translate) : ('GENERAL.EDIT_COMPONENT.MENU.UNSELECT' | translate) }}</p>
		</button>
		<button 
			matRipple [matRippleColor]="'#d4d4d480'"
			(click)="!selectComponent.evalCopySelectorAll(componentLoader.currentContainer) ? 
				selectComponent.buildCopySelectorAll(componentLoader.currentContainer) : 
				selectComponent.removeContainerCopySelector(componentLoader.currentContainer, true)" 
			colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
			<icon [icon]="!selectComponent.evalCopySelectorAll(componentLoader.currentContainer) ? 'clipboard-list' : 'clipboard'"></icon>
			<p>{{ !selectComponent.evalCopySelectorAll(componentLoader.currentContainer) ? ('GENERAL.EDIT_COMPONENT.MENU.SELECT_ALL' | translate) : ('GENERAL.EDIT_COMPONENT.MENU.DESELECT_ALL' | translate) }}</p>
		</button>
		<button
			matRipple [matRippleColor]="'#d4d4d480'"
			*ngIf="(source === 'component' && !structure.getComponent(this.componentID)?.pinned) || (source !== 'component' && selectComponent.selectorList.length > 0)"
			(click)="copyComp()"
			colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
			<icon icon="copy"></icon>
			<p>{{ 'GENERAL.EDIT_COMPONENT.MENU.COPY' | translate }}</p>
		</button>
		<button
			matRipple [matRippleColor]="'#d4d4d480'"
			*ngIf="selectComponent.copyList.length > 0"
			(click)="pasteComp()"
			colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
			<icon icon="paste"></icon>
			<p>{{ 'GENERAL.EDIT_COMPONENT.MENU.PASTE' | translate }}</p>
		</button>
		<button
			matRipple [matRippleColor]="'#d4d4d480'"
			*ngIf="source === 'component' && componentID && selectComponent.selectorList.length > 1"
			(click)="groupComponents()"
			colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
			<icon [icon]="!selectComponent.isGroupedAny() ? 'object-group' : 'object-ungroup'"></icon>
			<p>{{ !selectComponent.isGroupedAny() ? ('GENERAL.EDIT_COMPONENT.MENU.GROUP' | translate) : ('GENERAL.EDIT_COMPONENT.MENU.UNGROUP' | translate) }}</p>
		</button>
		<button matRipple [matRippleColor]="'#d4d4d480'" class="delete"
			*ngIf="(source === 'component' && !structure.getComponent(this.componentID)?.pinned) || (source !== 'component' && selectComponent.selectorList.length > 0)"
			(click)="compDelete()">
			<icon icon="trash"></icon>
			<p>{{ 'GENERAL.EDIT_COMPONENT.MENU.DELETE' | translate }}</p>
		</button>
	</div>
	<picker
		[height]="'65'"
		[zIndex]="1101"
		[confirmBtn]="'GENERAL.BUTTONS.OKAY' | translate"
		[showCancelBtn]="false"
		[ngModel]="show.componentDetails.show"
		(onClose)="toggleComponentDetails()">
		<h2 *ngIf="show.componentDetails?.fhem" header colorizer [theme]="settings.app.theme" [style]="['color', 'text']">
			{{ 'GENERAL.EDIT_COMPONENT.MENU.DETAILS' | translate }}: {{'COMPONENTS.'+[show.componentDetails.component.name]+'.NAME' | translate}}
		</h2>
		<div body class="page" *ngIf="show.componentDetails?.fhem">
			<div class="config-data">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="head">{{ 'GENERAL.DICTIONARY.COMPONENT' | translate }}:</p>
				<div class="details-row" *ngFor="let detail of show.componentDetails.component | keyvalue">
					<span colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="key">{{detail.key}}:</span>
					<span colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="value">{{detail.value}}</span>
				</div>
			</div>
			<div class="config-data">
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="head">FhemNative userAttr Definition:</p>
				<div class="details-row">
					<span colorizer [theme]="settings.app.theme" [style]="['color', 'text']" class="key">userAttr:</span>
					<span colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="value">{{show.componentDetails.fhem.userAttr}}</span>
				</div>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'GENERAL.EDIT_COMPONENT.MENU.DEF_DETAILS.SHORT.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.EDIT_COMPONENT.MENU.DEF_DETAILS.SHORT.INFO' | translate }}</p>
				<textarea colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="user-attr">{{show.componentDetails.fhem.value.short}}</textarea>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'text']">{{ 'GENERAL.EDIT_COMPONENT.MENU.DEF_DETAILS.LONG.TITLE' | translate }}</p>
				<p colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="des">{{ 'GENERAL.EDIT_COMPONENT.MENU.DEF_DETAILS.LONG.INFO' | translate }}</p>
				<textarea colorizer [theme]="settings.app.theme" [style]="['color', 'des']" class="user-attr">{{show.componentDetails.fhem.value.long}}</textarea>
			</div>
		</div>
	</picker>
</div>