:host{
	.context-menu{
		user-select: none;
		position: fixed;
		z-index: 1100;
		margin: 0;
		padding: 0;
		width: 200px;
		min-height: 35px;
		list-style: none;
		border: 1px solid #565656;
		border-radius: 5px;
		box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.4);
		text-align: left;
		opacity: 0;
		transition: all .2s ease;
		&.show{
			opacity: 1;
		}
		button{
			font-weight: 500;
			height: 35px;
			padding: 0;
			position: relative;
			cursor: pointer;
			width: 100%;
			background: none;
			font-size: 13px;
			display: flex;
			&:focus{
				outline: 0px;
			}
			&.settings{
				color: var(--btn-blue);
				border-bottom: 1px solid #565656;
			}
			&.delete{
				color: var(--btn-red);
				border-top: 1px solid #565656;
			}
			icon{
				margin-left: 8px;
				top: 5px;
				&.opacity{
					opacity: 0.5;
				}
				&.smaller{
					height: 20px;
					top: 8px;
				}
			}
			p{
				line-height: 35px;
				padding-left: 8px;
				margin: 0;
			}
		}
	}
	.config-data{
		.head{
			font-size: 1.2em;
		}
		p{
			margin-bottom: 15px;
		}
		.key,
		.value{
			width: 150px;
			display: inline-block;
		}
		.user-attr{
			position: relative;
			background: transparent;
			resize: none;
			border: none;
			width: 100%;
			user-select: all;
		}
	}
}