:host {
    .pinpad {
        width: inherit;
        height: inherit;
        .pinpad-valid {
            position: absolute;
            width: 100%;
            height: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .08);
            .pinpad-header {
                position: absolute;
                height: 40px;
                width: 100%;
                top: 0;
                .dot-container {
                    height: 100%;
                    width: 60%;
                    position: absolute;
                    left: 20%;
                    td {
                        position: relative;
                        .dot {
                            width: 12px;
                            height: 12px;
                            background: #90a4ae;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            transition: all .2s ease;
                            &.active {
                                transform: scale(1.3) translate(-50%, -50%);
                            }
                        }
                    }
                }
            }
            .pinpad-content {
                position: absolute;
                width: 100%;
                height: calc(100% - 40px);
                top: 40px;
                overflow: hidden;
                .state-container {
                    height: 30px;
                    width: 100%;
                    position: relative;
                    text-align: center;
                    p {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        line-height: 30px;
                        &.off, &.false-text {
                            color: var(--btn-red);
                        }
                        &.on {
                            color: var(--btn-green);
                        }
                    }
                }
                .btns {
                    position: absolute;
                    height: calc(100% - 30px);
                    width: 100%;
                    top: 30px;
                    table {
                        width: 100%;
                        height: 100%;
                        table-layout: fixed;
                        border-collapse: collapse;
                    }
                    .btn {
                        cursor: pointer;
                        pointer-events: all;
                        width: 40px;
                        height: 40px;
                        border-radius: 5px;
                        background: transparent;
                        border: 1px solid #565656;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 20px;
                    }
                }
            }
        } // neumorph
        &.NM-IN-standard, &.NM-OUT-standard {
            &.dark {
                .pinpad-valid,
                .btn {
                    background: var(--primary-dark) !important;
                    border: var(--neumorph-border-dark) !important;
                }
            }
            &.dark-alternative {
                .pinpad-valid,
                .btn {
                    background: var(--primary-dark-alternative) !important;
                    border: var(--neumorph-border-dark-alternative) !important;
                }
            }
            &.bright {
                .pinpad-valid,
                .btn {
                    background: var(--primary-bright) !important;
                    border: var(--neumorph-border-bright) !important;
                }
            }
        } 
        // neumorph in
        &.NM-IN-standard {
            &.dark {
                .pinpad-valid,
                .btn {
                    box-shadow: var(--neumorph-in-dark) !important;
                }
            }
            &.dark-alternative {
                .pinpad-valid,
                .btn {
                    box-shadow: var(--neumorph-in-dark-alternative) !important;
                }
            }
            &.bright {
                .pinpad-valid,
                .btn {
                    box-shadow: var(--neumorph-in-bright) !important;
                }
            }
        }
        // neumorph out
        &.NM-OUT-standard {
            &.dark {
                .pinpad-valid,
                .btn {
                    box-shadow: var(--neumorph-out-dark) !important;
                }
            }
            &.dark-alternative {
                .pinpad-valid,
                .btn {
                    box-shadow: var(--neumorph-out-dark-alternative) !important;
                }
            }
            &.bright {
                .pinpad-valid,
                .btn {
                    box-shadow: var(--neumorph-out-bright) !important;
                }
            }
        }
    }
}